@page "/Account/Profile"
@using Syncfusion.Blazor.ProgressBar
<AuthorizeView>
    <NotAuthorized>
        <h3>
            Please <a href="Account/Login">Log in</a> to view your profile
        </h3>
    </NotAuthorized>
    <Authorized>
        <div class="container">
            <div class="d-flex justify-content-between border-bottom">
                <div class="d-flex align-items-end"> @context.User.Identity.Name</div>
                <div class="d-flex">
                    <div class="d-flex align-items-end mb-1">Reputation</div>
                    <div class="d-inline-block">
                        <SfProgressBar @ref="Reputation" Type="ProgressType.Linear" Height="40"
                                       Width="100%" ID="Percentage"
                                       TrackThickness="24"
                                       ProgressThickness="24" Role="ModeType.Success"
                                       ShowProgressValue="true"
                                       Value="40" Minimum="0" Maximum="100"
                                       Theme="@ProgressTheme.Bootstrap4">
                            <ProgressBarLabelStyle Text="40/150" TextAlignment="TextAlignmentType.Center" Color="#FFFFFF" />
                            <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
                        </SfProgressBar>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>
                        <strong>Submissions:</strong>
                    </p>
                    <p>
                        <strong>Edits:</strong>
                    </p>                   
                </div>
                <div lass="col-6">
                    <p>
                        <strong>Verifications:</strong>
                    </p>
                    <p>
                        <strong>Flags:</strong>
                    </p>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Uploaded</th>
                        <th scope="col">Date</th>
                        <th scope="col">Title</th>
                        <th scope="col">Public</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>10/18/2020</td>
                        <td>6/4/2020</td>
                        <td>This is an example title</td>
                        <td>Delete</td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </Authorized>
</AuthorizeView>
@code {
    SfProgressBar Reputation;

    List<Timelineinfo> Events { get; set; }

   
    //   user role status -context
    //    
    //get stats of person

}
