@layout MainLayout
@inherits LayoutComponentBase
@using DataAccessLibrary.UserModels 
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components
@using Syncfusion.Blazor.Navigations
@inject UserManager<ApplicationUser> userManager
@attribute [Authorize]

<div class="mt-3 mx-md-5">
    <SfSidebar Width="160px" Animate="false" EnableGestures="false" Target=".main-content" MediaQuery="(min-width:600px)">
        <ChildContent>
            <div class="main-menu nav-with-bar mt-1">
                <ul class="mt-3 sidebar-profile">
                    <li class="profile-sidebar-link">
                        <NavLink class="nav-link" href="/Account/Profile">Profile</NavLink>
                    </li>
                    <li class="profile-sidebar-link">
                        <NavLink class="nav-link" href="/Account/ReviewEdits">Review Edits</NavLink>
                    </li>
                    <AuthorizeView Roles="Admin, Moderator">
                        <li class="profile-sidebar-link">
                            <NavLink class="nav-link" href="/Account/ReviewFlags">Review Flags</NavLink>
                        </li>
                    </AuthorizeView>
                </ul>
            </div>
        </ChildContent>
    </SfSidebar>
    <div class="main-content" style="min-height: 80vh;">
        @Body
    </div>
</div>
@code {
}
