

<nav class="navbar fixed-top navbar-expand-lg bg-dark">
    <div class="d-flex flex-grow-1 container-fluid pl-2">
        <a class="navbar-brand text-white" href="/Index">
            <img id="logo" alt="" src="/favicon.ico" width="35" height="35" class="d-inline-block">
            <span style="white-space: nowrap; font-family: 'Crimson Text', serif; font-size:1.7rem;" class="d-inline-block pl-0">
            Thin Blue Lie
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse text-right d-lg-inline-flex flex-lg-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item" id="Timeline">
                    <NavLink class="nav-link text-white text-responsive" ActiveClass="onpage" href="@currentDate">Events</NavLink>
                </li>
                <li class="nav-item" id="Solutions">
                    <NavLink class="nav-link text-white" href="/Solutions" ActiveClass="onpage">Solutions</NavLink>
                </li>
                <li class="nav-item" id="Resources">
                    <NavLink class="nav-link text-white" href="/Resources" ActiveClass="onpage">Resources</NavLink>
                </li>               
                <li class="nav-item dropdown">
                    <div class="btn-group">
                        <NavLink class="nav-link btn text-white" href="/About" ActiveClass="onpage" id="About" role="button">
                            About
                        </NavLink>
                        <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split pl-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="About">
                            <a class="dropdown-item" href="/About#Purpose">Purpose</a>
                            <a class="dropdown-item" href="/About/Reputation">Reputation</a>
                            <a class="dropdown-item" href="/About/Rules">Rules</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/About#contact">Contact</a>
                            <a class="dropdown-item" href="/About/PrivacyPolicy">Privacy Policy</a>
                        </div>
                    </div>                   
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse text-right d-lg-inline-flex flex-lg-row-reverse mr-lg-3">
            <ul class="navbar-nav">               
                <li class="nav-item" id="Submit">
                    <NavLink class="btn btn-outline-success mr-lg-2 mb-lg-0 mb-2 text-nowrap" href="/Submit">Submit Info</NavLink>
                </li>
                <li class="nav-item" id="Donate">
                    <NavLink class="btn btn-outline-primary text-nowrap" ActiveClass="onpage" href="/Donate">Donate</NavLink>
                </li>
                <li> <LoginDisplay /></li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private string currentDate = "/Events/" + DateTime.Today.ToString("yyyy-MM-dd");
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
