@using ThinBlueLie.Helper.Algorithms 
@using DiffPlex.DiffBuilder;
@using DiffPlex.DiffBuilder.Model;
@using KellermanSoftware.CompareNetObjects
@inject ISideBySideDiffBuilder sideBySide

@if (Done == false)
{
    <h6>Loading...</h6>
}
else
{
    <div class="d-block">
        <h5 class="border-bottom">Subject@(Subjects.Count > 1? "s'" : "'s") Information</h5>
        @foreach ((var subjectPair, Int32 i) in Subjects.Select((officer, i) => (officer, i)))
        {
            if (!(compareLogic.Compare(subjectPair.Item2, subjectPair.Item1).AreEqual && EditsOnly == true))
            {
                <CompareSubjectSingle Model="Subjectdiff[i]" SubjectPair="subjectPair"></CompareSubjectSingle>
            }
        }
    </div>
}

@code {
    [CascadingParameter(Name = "EditsOnly")]
    public bool EditsOnly { get; set; }
    private int id;
    [CascadingParameter]
    public int Id
    {
        get { return id; }
        set { id = value; isNewEdit = true; }
    }
    bool isNewEdit = true;
    private List<Tuple<Subject, Subject>> Subjects { get; set; }
    [Parameter]
    public List<Subject> OldSubjects { get; set; }
    [Parameter]
    public List<Subject> NewSubjects { get; set; }
    bool Done = false;
    private List<SideBySideDiffModel?> Subjectdiff = new List<SideBySideDiffModel?>();
    CompareLogic compareLogic;
    protected override void OnParametersSet()
    {
        if (isNewEdit)
        {
            Done = false;
            Subjects = new List<Tuple<Subject, Subject>>();
            compareLogic = new CompareLogic();
            var PairSubjects = new PairVersions();
            Subjects = PairSubjects.PairSubjects(OldSubjects, NewSubjects);

            foreach (var pairing in Subjects)
            {
                try
                {
                    //try to compare officers with the same idOfficer and build a model off of that
                    Subjectdiff.Add(sideBySide.BuildDiffModel(pairing.Item1.Name, pairing.Item2.Name));
                }
                catch (Exception)
                {
                    Subjectdiff.Add(null);
                }
            }
            Done = true;
        }
    }
}
