@page
@{
    ViewData["Title"] = "About";
}
<style>
    a {
        display:block;
        padding-top: .4rem;
    }
</style>
<div class="row fix">
    <div class="offset-md-1 col-md-2">
        <img src="~/Assets/Loading.gif" alt="idk bruh" class="img-thumbnail mt-3 mx-auto">
    </div>
    <div class="ml-md-3 col-md-5 mt-5 mx-3">
        <div>
            <h4 class="mb-0">What is the purpose of Thin Blue Lie?</h4> <hr class="nogap" />
            <p>Am I supposed to know?</p>
        </div>
        <div>
            <h4 class="mb-0">Who made this monumental piece of shit?</h4> <hr class="nogap" />
            <p>Some dope high school senior named Eli Bell. Give me admission Stanford</p>
        </div>
        <div>
            <h4 class="mb-0">Contact this egotistical shitface</h4> <hr class="nogap" />
            <p><strong>Try me bitch:</strong></p>
            <div>
                <a href="mailto: eli.h.bell@gmail.com?subject = Feedback">Feedback:</a> For general Feedback on just how bad this garbage is
                <a href="mailto: eli.h.bell@gmail.com?subject = Fuck You Cunt">Hate Mail:</a> For particularly strongly worded insults by sweaty pigs
                <a href="mailto: eli.h.bell@gmail.com?subject = Media">Media/Contact:</a> Please, I need validation
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("About").classList.add("onpage");
</script>

