@page "/About"

<Title>About - Thin Blue Lie</Title>
<Meta Property="og:type" Content="website" />
<Meta Property="og:title" Content="About Thin Blue Lie" />
<Meta Name="description" Content="Thin Blue Lie was founded on 06/05/2020, in the midst of the George Floyd Protests, we were frustrated with
      the inactition of uneducated public officials and sought to provide a overwhelming set of evidence which could not be ignored." />
<Link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet" />

<div class="about-header-image" style="background-image: url(Assets/Protests-Wallpaper.jpg) !important;">
    <div class="my-auto text-center">
        <img alt="Thin Blue Lie Logo" src="/favicon.ico" width="70" height="70" class="d-inline-block align-top mt-1 mr-1">
        <h1 style="font-family: 'Crimson Text', serif; font-size: 4em;" class="text-white d-inline-block">
            Thin Blue Lie
        </h1>
    </div>
</div>
<div class="h-100 d-flex">
    <div class="nav-with-bar aboutnav d-md-inline-block offset-lg-1 col-2 d-none">
        <h5>About Us</h5>
        <ul>
            <li>
                <NavLink class="nav-link" href="/About#purpose">Purpose</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/About#howitworks">How Thin Blue Lie Works</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/About#future">Roadmap</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/About#contributors">Contributors</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/About#contact">Contact</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/About/PrivacyPolicy">Privacy Policy</NavLink>
            </li>
        </ul>
    </div>
    <div class="col-md-7 d-inline-block about">
        <div id="purpose">
            <h4 class="mb-0">Purpose & Founding</h4> <hr class="nogap" />
            <p>
                Thin Blue Lie was founded on 6/05/2020 at the beginning of the George Floyd/Breonna Taylor
                protests by Eli Bell in an attempt to educate the public on the severity of the issue of police misconduct.
                Specifically, Thin Blue Lie seeks to direct the often emotional reactions to such events towards actual productive means.
            </p>
        </div>
        <div id="howitworks">
            <h4 class="mb-0">How Thin Blue Lie Works</h4> <hr class="nogap" />
            <p>
                Taking after Stack Exchange, Thin Blue Lie implements a <a href="/About/Reputation">Reputation system</a> where the more you
                contribute to the website, the more privileges and power you get. We also have a pretty lenient set of
                <a href="/About/Rules">Rules</a>.
            </p>
        </div>
        <div id="future">
            <h4 class="mb-0">Roadmap</h4> <hr class="nogap" />
            <p>
                Thin Blue Lie currently is ran by only one person, so it's taking a while for things to get done.
                In the future, however, we are hoping to flesh out the website much more, provide more essays on solutions, charities, and resources.
                <a class="d-block" href="/About/Roadmap">Read more</a>
            </p>
        </div>
        @*<div id="contributors">
                <h4 class="mb-0">Thanks</h4> <hr class="nogap" />
                <p>
                    I'd like to just give a quick thanks to Gaelin, who was always ready to help me with my spaghetti code,
                    and to Chris, who helped with fixing my ugly, clunky website.
                </p>
            </div>*@
        <div id="contact">
            <h4 class="mb-0">Contact</h4> <hr class="nogap" />
            <p>Listed below are emails links for contacting Thin Blue Lie. Don't hesitiate to reach out, we want to hear from you!</p>

            <div class="email-description">
                <p>Is there an issue or a suggestion you want to tell us about? Please email us here:</p>
                <a href="mailto: feedback@thinbluelie.us">feedback@thinbluelie.us</a>
            </div>
            <div class="email-description">
                <p>Are you media or a journalist? Please email us here:</p>
                <a href="mailto: media@thinbluelie.us">media@thinbluelie.us</a>
            </div>
            <div class="email-description">
                <p>For anything account or privacy related:</p>
                <a href="mailto: privacy@thinbluelie.us">privacy@thinbluelie.us</a>
            </div>
            <div class="email-description">
                <p>For any bugs or techincal issues:</p>
                <a href="mailto: developer@thinbluelie.us">developer@thinbluelie.us</a>
            </div>
        </div>
    </div>
</div>

@code {

}
