@page "/Donate"
@using Syncfusion.Blazor.Navigations

<Title>Donate - Thin Blue Lie</Title>
<Meta Property="og:type" Content="article" />
<Meta Property="og:title" Content="Donate" />
<Meta Name="description" Content="Seeking to help solve the epidemic? All these charities could use donations to do vital work in 
      each of their respective areas."/>
<Link Rel="stylesheet" Href="/css/content.css" />

<div class="header-image" style="background-image: url(Assets/Protests-Wallpaper.jpg) !important;">
    <div class="my-auto text-center">
        <h1 style="font-family: 'Crimson Text', serif; font-size: 4em;" class="text-white d-inline-block">
            Donate
        </h1>
    </div>
</div>
<div class="container border">
    <div class="pr-0" style="min-height:1500px;">
        <div class="pt-3 pb-2 mb-0 pl-2">
            <h4>Purpose</h4>
            <p>Here you can read about reputable charities to donate to help support the cause</p>
        </div>
        <hr class="blueline nogap" />
        <div>
            <div class="charity">
                <img alt="Thin Blue Lie Logo" src="/Assets/ThinBlueLie-Logo.png" class="charity-thumbnail"/>
                <div class="charity-content">
                    <h4>Thin Blue Lie</h4>
                    <p>
                        Thin Blue Lie relies entirely on donations for operation. Each and every penny goes straight into
                        either maintainace and improvements on the website.
                    </p>
                    <div class="charity-button">
                        <form action="https://www.paypal.com/donate" method="post" target="_top">
                            <input type="hidden" name="hosted_button_id" value="TG95ZRQRCXPMU" />
                            <button class="e-btn e-outline e-primary" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button">Donate</button>
                            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
