@page
@model ThinBlueLie.Pages.DonateModel
@{
    ViewData["Title"] = "Donate";
}

<style>
    .sidenav {
        max-width: 250px;
        position: fixed;
        z-index: 1;
        top: 400px;
        left: 50px;
        background: #eee;
        overflow-x: hidden;
        padding: 8px 0;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #0091ff;
            display: block;
        }

            .sidenav a:hover {
                color: #064579;
            }
    .rightnav {
        max-width: 250px;
        position: fixed;
        z-index: 1;
        top: 400px;
        left: 90%;       
        background: #eee;
        overflow-x: hidden;
        padding: 8px 0;
    }

        .right a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #0091ff;
            display: block;
        }

            .right a:hover {
                color: #064579;
            }
</style>
<div class="jumbotron home" style=" background-image: url(FlagAndFire.jpg) !important;">
    <div class="ml-5 pl-5 container container-fluid">
        <h1 style="font-family: MillerItalic, Georgia, serif; font-size: 4em;" class="text-primary font-italic">DONATE</h1>
    </div>
</div>
<div class="sidenav">
    <a href="#defund">Charity1</a>
    <a href="#reform">Charity2</a>
    <a href="roles">Charity3</a>
    <a href="immunity">Charity4</a>   
</div>
<div class="rightnav">
    <div>
        <h5>Give ME money</h5>
        <button class="btn btn-outline-success" onclick="window.location.href = 'https://www.buymeacoffee.com/ThinBlueLie'">Buy me a Coffee</button>
    </div>
</div>
<div class="container">
    <h4>Purpose</h4>
    <p>Give these bitches some cash!</p>
    <hr class="blueline mt-0 pb-0 mb-0 pt-0" style="" />
    <br />
</div>
