.nav-with-bar{
    margin-top: 2rem;
}
.nav-with-bar li{
    font-size: 16px !important;
}
.nav-with-bar a{
    padding-right: 5px;
}
.nav-with-bar span{
    padding-right: 5px;
}

.header-image {
    background-position: 50% 38%;
}

.e-sidebar.e-dock.e-close span.category{
    display: none !important;
}

.e-sidebar.e-dock.e-open span.category{
    display: inline-block;
}