@page "/Error"

<Title>Error - Thin Blue Lie</Title>

<div class="container text-center pt-3">
    <h1 class="text-danger">Uh oh, something went wrong</h1>
    <h2>An error occurred while processing your request</h2>
</div>
