@page
@model ThinBlueLie.Pages.Fuck12Model
@{
    ViewData["Title"] = "Fuck12";
}
<style>
    Html {
        height: 100%;        
    }

    Body {
        min-height: 100%;
        height: 100%;
        background-image: url("Protests.jpg") !important;
        background-position: center center;
        background-repeat: no-repeat !important;
        background-size: cover;
        overflow: hidden; /* Hide scrollbars */
    }

    Main {
        padding-top: 30px;
        padding-bottom: 0px;
        margin-top: 30px;
    }
    h1{
        font-family:  Calibri;
    }
</style>
<main role="main" class="container">
        <div class="fuck12 jumbotron">
            <h1 class="display-4 text-white text-center">
                <strong>Fuck 12</strong></h1>           
        </div>
</main>
