@page "/"
@page "/Index"

<Title>Thin Blue Lie</Title>
<Meta Property="og:type" Content="website" />
<Meta Name="description" 
      Content="Every year, police kill roughly 1,000 people and harass countless people, but much of it gets buried in documents and hidden from public view. Thin Blue Lie seeks to reveal this injustice." />

<div class="header-image landing-image" style="background-image: url(Assets/Landing-Image.png) !important;">
    <div class="line d-none d-md-flex"> <hr class="position-absolute bluestrikethrough"></div>
    <img class="d-flex d-md-none mx-md-0 mx-auto" src="/Assets/ThinBlueLie-Logo.png" height="110" width="110"/>
    <div class="d-none d-md-flex" style="flex-grow: 0; flex-shrink: 0; ">
        <h1 style="font-family: MillerItalic, Georgia, serif;font-size: 4em;" 
            class="text-primary font-italic px-3">
            Thin Blue Lie
        </h1>
    </div>
    <div class="line d-none d-md-flex"><hr class="position-absolute bluestrikethrough"></div>
</div>
<div class="container">
    <div class="py-3 px-md-5 px-0 border-bottom">
        <h6>
              Every year, police kill roughly <strong>1,200</strong> people and harass countless others. However, much of it gets buried
            in documents and hidden from public view. Thin Blue Lie aims to document and expose the widespread nature of police brutality
            in America by circumnavigating legal avenues to infromation, crowd sourcing all data.
        </h6>
    </div>
    <div class="mt-3 px-3">
        <div class="row">
            <div class="card px-2 col-12">
                <div class="card-body">
                    <h5 class="card-title"><a href="/Events" class="text-black">Events</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Directly view incidents of police misconduct</h6>
                    <p class="card-text">
                        This is the main core of the website. Here, you can find
                    </p>
                    <a href="/Events" class="card-link">Events</a>
                    <a href="/Events" class="card-link">Submit Event</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 pl-md-0 pr-md-2 px-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/Solutions" class="text-black">Solutions</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Articles on Solutions</h6>
                        <p class="card-text">
                            We have written a series of essays on proposed and discussed topics.
                        </p>
                        <a href="/Solutions" class="card-link">Solutions</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pr-md-0 pl-md-2 px-1 mt-md-0 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/Donate" class="text-black">Donate</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Donate to Charities</h6>
                        <p class="card-text">
                            We have compiled a set of charites to donate to help the cause.
                        </p>
                        <a href="/Donate" class="card-link">Donate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
