@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center text-white-50">
    <h1  class="display-4">The Thin Blue Lie</h1>
    <h2>The Use of Police Brutality and Excessive Force</h2>
    <p>A website by: <strong> Eli Bell</strong></p>
</div>
