@page
@model IndexModel
@{
    ViewBag.Title = "Thin Blue Lie";
}

<head>
    <title>Thin Blue Lie</title>
    <style>
    </style>
</head>

<body>    
    <div class="jumbotron home" style=" background-image: url(FlagAndFire.jpg) !important;">
        <div class="ml-5 pl-5 container container-fluid">
            <h1 style="font-family: MillerItalic, Georgia, serif; font-size: 4em;" class="text-primary font-italic">The Thin Blue Lie</h1>
            <p class="text-white">A military state</p>
        </div>
    </div>
    <div class="container">
        <h4>Purpose</h4>
       <p> The purpose of this site is to display the prominance and widespread nature of police brutality.</p>
        <hr class="blueline mt-0 pb-0 mb-0 pt-0" style=""/>
        <br />
    </div>
    <div class="container">
        <h4>The Demands</h4>
        <h5>8 Can't Wait</h5>
        <div class="card-columns">
            <div class="card">
                <img class="card-img-top" src="~/8CantWait/BanStrangleholds.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">A Ban on Chokeholds and Strangleholds</h5>
                    <p class="card-text">Allowing officers to choke or strangle civilians results in the unnecessary death or serious injury of civilians. Both chokeholds and all other neck restraints must be banned in all cases.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/8CantWait/De-escalation.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Requirement of De-Escalation</h5>
                    <p class="card-text">Require officers to de-escalate situations, where possible, by communicating with subjects, maintaining distance, and otherwise eliminating the need to use force.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/8CantWait/WarningShooting.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Require Warning Before Shooting</h5>
                    <p class="card-text">Require officers to give a verbal warning in all situations before using deadly force.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/8CantWait/ExhaustAlternatives.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Requiring exhausting all alternatives before use of letal firearms</h5>
                    <p class="card-text">Require officers to exhaust all other alternatives, including non-force and less lethal force options, prior to resorting to deadly force.</p>
                </div>
            </div>
      
            <div class="card">
                <img class="card-img-top" src="~/8CantWait/Intervene.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Require officers to intervene</h5>
                    <p class="card-text">Require officers to intervene and stop excessive force used by other officers and report these incidents immediately to a supervisor.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/8CantWait/ShootingAtVehicles.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">A Ban on shooting at moving vehicles</h5>
                    <p class="card-text">
                        Ban officers from shooting at moving vehicles in all cases, which is regarded as a particularly dangerous and ineffective tactic. While some departments may they restrict shooting at vehicles to particular situations,
                        these loopholes allow for police to continue killing in situations that are all too common. 62 people were killed by police last year in these situations. This must be categorically banned.
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/8CantWait/ForceContinuum.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Establish and use a Force Continuum</h5>
                    <p class="card-text">
                        Establish a Force Continuum that restricts the most severe types of force to the most extreme situations and creates clear policy restrictions on the use of each police weapon and tactic.
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/8CantWait/Reporting.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Comprehensive reporting of all uses of force</h5>
                    <p class="card-text">Require officers to report each time they use force or threaten to use force against civilians. 
                    Comprehensive reporting includes requiring officers to report whenever they point a firearm at someone, in addition to all other types of force.</p>
                </div>
            </div>
        </div>
    </div>
</body>
