@page "/Resources"
@inject NavigationManager navManager
@implements IDisposable
@using static ThinBlueLie.Helper.Extensions.StringExtensions
@using Syncfusion.Blazor.Navigations

<Title>Resources - Thin Blue Lie</Title>
<Meta Property="og:type" Content="article" />
<Meta Property="og:title" Content="Resources on Police Brutality" />
<Meta Name="description" Content="Policing is an incredibly complex topic; we would like to recommend some other resources for those who want to learn more.
                            So, we have complied a list of books, podcasts, musicans, and more that we believe provide a valuable insight." />
<Link Rel="stylesheet" Href="/css/content.css" />

<div class="header-image" style="background-image: url(Assets/Protests-Wallpaper.jpg) !important;">
    <div class="my-auto text-center">
        <h1 style="font-family: 'Crimson Text', serif; font-size: 4em;" class="text-white d-inline-block">
            Resources
        </h1>
    </div>
</div>
<div id="wrapper">
    <div class="col-lg-12 col-sm-12 col-md-12">
        <SfSidebar Width="290px" EnableGestures="false" Animate="false" Target=".main-content" MediaQuery="(min-width:600px)">
            <ChildContent>
                <div class="nav-with-bar">
                    <div class="text-center">
                        <h5>Navigation</h5>
                    </div>
                    <ul>
                        <li>
                            <NavLink class="nav-link" href="/Resources#featured">Featured</NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="/Resources#datasets">Data Sets</NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="/Resources#books">Books</NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="/Resources#podcasts">Podcasts</NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="/Resources#public-figures">Public Figures</NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="/Resources#musicians">Musicians</NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="/Resources#artists">Artists</NavLink>
                        </li>
                    </ul>
                </div>
            </ChildContent>
        </SfSidebar>
        <div class="main-content" id="main-text">
            <div class="sidebar-content" style="min-height:1000px;">
                <div class="pr-md-5">
                    <div class="pt-3 pb-2 mb-0 pl-2">
                        <p>
                            <em>Policing is an incredibly complex topic</em>. Thin Blue Lie can only go so far, and so we would like to recommend
                            some other resources for those who want to learn more. So, we have complied a list of books, podcasts, musicans, and more
                            that we believe provide a valuable insight.
                        </p>
                    </div>
                    <hr class="blueline nogap" />
                    <br />
                </div>
                <div>
                    @if (anchor == null) { }
                    else if (anchor.Contains("featured", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="resource">
                        </div>
                    }
                    else if (anchor.Contains("books", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="resource">
                        </div>
                    }
                    else if (anchor.Contains("podcasts", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="resource">
                        </div>
                    }
                    else if (anchor.Contains("public-figures", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="resource">
                        </div>
                    }
                    else if (anchor.Contains("musicians", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="resource">
                        </div>
                    }
                    else if (anchor.Contains("artists", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="resource">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    string anchor;
    string[] Sections = { "Featured", "Books", "DataSets", "Podcasts", "Public-Figures", "Musicians", "Artists" };
    protected override void OnInitialized()
    {
        CheckUrl();
        navManager.LocationChanged += LocationChanged;
        base.OnInitialized();
    }
    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        CheckUrl();
        this.StateHasChanged();
    }
    void CheckUrl()
    {
        var relUri = navManager.ToBaseRelativePath(navManager.Uri);
        anchor = relUri.Split('#').Skip(1).FirstOrDefault();
        //if #string is not valid go to #featured
        if (Sections.Contains(anchor, StringComparer.OrdinalIgnoreCase) == false)
        {
            anchor = null;
            navManager.NavigateTo(navManager.BaseUri + "Resources#featured");
        }
    }
    void IDisposable.Dispose()
    {
        // Unsubscribe from the event when our component is disposed
        navManager.LocationChanged -= LocationChanged;
    }
}
