@page
@model ThinBlueLie.Pages.SolutionModel
@{
    ViewData["Title"] = "Solutions";
}


<div class="jumbotron home" style="background-image: url(FlagAndFire.jpg) !important;">
    <div class="ml-5 pl-5 container container-fluid">
        <h1 style="font-family: MillerItalic, Georgia, serif; font-size: 4em;" class="text-primary font-italic">Possible Solutions</h1>       
    </div>
</div>
<div class="row fix">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li>
                    <h3 class="sidebar-heading text-center border-bottom">Navigation Menu</h3>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#defund">Defund</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reform">Reform/Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#roles">Changed roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#immunity">Ending Qualified Immunity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#demilitarization">Demilitarization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reporting">Comprehensive Reporting</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="#community-involvement">Community Involvement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#for-profit">End For-Profit Policing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#intervention">Intervention</a>
                </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span style="font-size:.7rem;">Click on a solution to go to it</span>                
            </h6>           
        </div>
    </nav>  
    <div class="col-md-9 px-4" style="min-height:1500px;">
        <div class="pt-3 pb-2 mb-3">
            <h4>Purpose</h4>
            <p>Here you can read about possible solutions to the problem along with an array of other resources</p>
            <hr class="blueline nogap"/>
            <br />
        </div>
    </div>   
</div>
<script>
    $(".sidebar .nav-link").click(function (e) {
        e.preventDefault();
        $(".sidebar .nav-link").removeClass("active");
        $(this).toggleClass("active");
    });
</script>
