@page "/Solutions"
@using Syncfusion.Blazor.Navigations

<Title>Possible Solutions - Thin Blue Lie</Title>
<Meta Property="og:type" Content="article" />
<Meta Property="og:title" Content="Possible Solutions To Police Brutality" />
<Meta Name="description" Content="Although any single solution is unlikely to solve the issue of police misconduct we hope that through adoption of
                 the solutions we have laid out here, misconduct can be severely curtailed" />
<Link Rel="stylesheet" Href="/css/content.css" />

<div class="header-image" style="background-image: url(Assets/Protests-Wallpaper.jpg) !important;">
    <div class="my-auto text-center">
        <h1 style="font-family: 'Crimson Text', serif; font-size: 5em;" class="text-white d-inline-block">
            Solutions
        </h1>
    </div>
</div>
<div class="container border">     
    <div class="pr-0" style="min-height:1500px;">
        <div class="pt-3 pb-2 mb-0 pl-2">
            <h4>Purpose</h4>
            <p>
                Although any single solution is unlikely to solve the issue of police misconduct we hope that through adoption of
                the solutions we have laid out here, misconduct can be severely curtailed
            </p>
        </div>
        <hr class="blueline nogap" />
        <br />
    </div>
</div>
@code {

}

