@page "/Solutions"
@using Syncfusion.Blazor.Navigations

<Title>Possible Solutions - Thin Blue Lie</Title>
<Meta Property="og:type" Content="article" />
<Meta Property="og:title" Content="Possible Solutions To Police Brutality" />
<Meta Name="description" Content="Although any single solution is unlikely to solve the issue of police misconduct we hope that through adoption of
                 the solutions we have laid out here, misconduct can be severely curtailed" />
<Link Rel="stylesheet" Href="/css/content.css" />

<style>
    .card-columns{
        widows: unset !important;
    }
</style>
<div class="header-image" style="background-image: url(/Assets/Solutions-Image.jpg) !important; background-position: 50% 60% !important;">
    <div class="my-auto text-center">
        <h1 style="font-family: 'Crimson Text', serif; font-size: 5em;" class="text-white d-inline-block">
            Solutions
        </h1>
    </div>
</div>
<div class="container">     
    <div class="pr-0 mb-3">
        <div class="pt-3 pb-2 mb-0 pl-2">
            <h4>Purpose</h4>
            <p class="mb-2">
                Although any single solution is unlikely to solve the issue of police misconduct we hope that through adoption of
                the solutions we have laid out here, misconduct can be severely curtailed. Each article cites various sources and points to other resources to
                learn more about the topic.
            </p>
        </div>
        <hr class="blueline nogap" />
    </div>
    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                <a class="card-title">Defund the Police</a>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a class="card-title">Encouraging Inter-cop Intervention</a>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a class="card-title">Training</a>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a class="card-title">Community Oversight</a>
                <p class="card-text">
                   
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a class="card-title">Ending Policing for Profit</a>
                <p class="card-text">
                   
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a class="card-title">Demilitarization</a>
                <p class="card-text">
                   
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a class="card-title">Restructure Police Unions</a>
                <p class="card-text">
                    Police unions are a major obstacle to reform and function to actively protect offending officers. 
                    By limiting the power of police unions through actions like opening collective bargaining to the 
                    public eye and altering union contracts, police misconduct decreases as accountability increases.
                </p>
            </div>
        </div>
    </div>
</div>