
@model ThinBlueLie.Pages.Test3Model
@{
    ViewBag.Title = "Test3";
}

    <div class=" row">
        <div id="likeVideos" class="offset-1 col-4 mt-5">
            <div class="card border-secondary mb-3">
                <div class="card-header">Date</div>
                <div class="card-body text-dark row">
                    <div class="col-6">
                        <p><strong>Location:</strong></p>
                        <p><strong>Subjects:</strong></p>
                        <p><strong>Officer:</strong></p>
                    </div>
                    <div class="col-6">
                        <div style="border-radius:3px; width:100%;" class="embed-responsive embed-responsive-2by1">
                            <iframe class="embed-responsive-item border"
                                    src="https://www.youtube.com/embed/WNKF8rbl2uA" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="row card-body ml-1 pb-0" style="text-indent: -.5rem;">
                        <p><strong>Context:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, magna aliqua. Ut enim ad minim veniam, ...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



