@page
@model ThinBlueLie.Pages.testModel
@{
    ViewData["Title"] = "test";
}

<style>
    .linestyle {
        
    }
    .igv-filter-button {
        border: 0px;
        padding-top: 3px;        
        top: 60px;
    }
</style>
    <div style="border-top: 1px solid black;" class="mt-5 pt-5">
               
        
    </div>
