
@model ThinBlueLie.Pages.Test3Model
@{
    ViewBag.Title = "Test3";
}


<div class="container-fluid h-100 row nogap">
    <div class="card border-secondary mx-md-auto center col-lg-3 col-md-4 p-0 mx-5" style="margin-top:100px;">
        <div class="card-header">
            Login
            <a class="float-right" asp-page="/Account/Register">Register</a>
        </div>
        <form method="post">
            <div class="card-body text-secondary">
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input type="email" asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input type="password" asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group mb-0">
                    <div class="form-check">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" /> @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <input type="submit" value="Login" class="btn btn-primary mb-2 px-3" style="float:right" />
            </div>
        </form>
        <div class="card-footer">
            <div class="mx-auto" id="my-signin2"></div>
        </div>
    </div>
</div>



