
@model ThinBlueLie.Pages.Test3Model
@{
    ViewBag.Title = "Test3";
}
<style>
    .badge {
        padding: .4rem;
    }
</style>
<div class="row">
    <div class="offset-1 col-2 mt-5 border">
        <span class="badge badge-warning">Force</span>
        <span class="badge badge-warning">Pet Murder</span>
        <span class="badge badge-warning">Evidence Tampering</span>
        <span class="badge badge-warning">Harassment</span>
        <span class="badge badge-warning">Negligence</span>
        <span class="badge badge-warning">Theft</span>
        <span class="badge badge-warning">Search</span>
        <span class="badge badge-warning">False Arrest</span>
        <span class="badge badge-warning">Abuse of Power</span>
        <span class="badge badge-danger">Bodily Force</span>
        <span class="badge badge-danger">Projectile</span>
        <span class="badge badge-danger">Taser</span>
        <span class="badge badge-danger">Tear Gas</span>
        <span class="badge badge-danger">Vehicle</span>
        <span class="badge badge-danger">Firearm</span>
    </div>
    @*<div class=" offset-1 col-2 border ">
            <div class="btn-group mt-5" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary px-3">1</button>
                <button type="button" class="btn btn-outline-primary px-3">2</button>
                <button type="button" class="btn btn-outline-primary px-3">3</button>
            </div>
        </div>*@
    <div class="container offset-3 col-2 mt-5">
        <a tabindex="0" onclick="movePopover()" class="btn btn-primary" data-placement="left" role="button" data-html="true" data-toggle="popover" title="Incorrect Info"
           data-content="And here's some amazing content. It's very engaging. Right?">
            Incorrect Info?
        </a>
    </div>
</div>
<script>
    $(document).ready(function () { //enables popover
        $('[data-toggle="popover"]').popover();
    });
    movePopover = setTimeout(function () {
        $("#toggle").popover('update')
    }, 5000);
    
</script>



