@page
@model ThinBlueLie.Pages.Test3Model
@{
    ViewBag.Title = "test3";
}


<h1>The input list attribute</h1>

<p>The list attribute refers to a datalist element that contains pre-defined options for an input element.</p>

<form action="post">
    <input list="browsers" name="browser" class="dropdown-menu" placeholder="Chrome">
    <datalist id="browsers">
        <option value="Internet Explorer"/>
        <option value="Firefox"/>
        <option value="Chrome"/>
        <option value="Opera"/>
        <option value="Safari"/>
    </datalist>
    <input type="submit" value="Submit">
</form>

<p><b>Note:</b> The datalist tag is not supported in Safari 12.0 (or earlier).</p>

