@page "/test2/{Date:datetime}"

<Link Rel="stylesheet" Href="/css/VideoPlayer.css" />

<div class="d-block mt-4">
    <p>
        @Date.ToLongDateString()
    </p>
</div>
@code {

    [Parameter]
    public DateTime Date { get; set; }
}
