
@model ThinBlueLie.Pages.Test3Model
@{
    ViewBag.Title = "Test3";
}
<style>
    .badge {
        padding: .4rem;
    }
</style>
<div class="row">
    <div class="offset-1 col-2 mt-5 border">
        <span class="badge badge-warning">Force</span>
        <span class="badge badge-warning">Pet Murder</span>
        <span class="badge badge-warning">Evidence Tampering</span>
        <span class="badge badge-warning">Harassment</span>
        <span class="badge badge-warning">Negligence</span>
        <span class="badge badge-warning">Theft</span>
        <span class="badge badge-warning">Search</span>
        <span class="badge badge-warning">False Arrest</span>
        <span class="badge badge-warning">Abuse of Power</span>
        <span class="badge badge-danger">Bodily Force</span>
        <span class="badge badge-danger">Projectile</span>
        <span class="badge badge-danger">Taser</span>
        <span class="badge badge-danger">Tear Gas</span>
        <span class="badge badge-danger">Vehicle</span>
        <span class="badge badge-danger">Firearm</span>
    </div>
    @*<div class=" offset-1 col-2 border ">
            <div class="btn-group mt-5" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary px-3">1</button>
                <button type="button" class="btn btn-outline-primary px-3">2</button>
                <button type="button" class="btn btn-outline-primary px-3">3</button>
            </div>
        </div>*@
    <div class="container offset-3 col-8 mt-5">
        <blockquote class="reddit-card">
            <a href="https://www.reddit.com/r/PublicFreakout/comments/hry8db/armed_troops_in_portland_oregon_are_taking_people/">Armed troops in Portland, Oregon, are taking people prisoner in the streets while refusing to identify themselves as law enforcement and operating out of civilian vehicles. No one on scene knows what jurisdiction or capacity they are operating in, or what happened to the person taken into the van.</a>
            <a href="http://www.reddit.com/r/PublicFreakout">r/PublicFreakout</a>
        </blockquote>
    </div>
</div>
<script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
<script>
    $(document).ready(function () { //enables popover
        $('[data-toggle="popover"]').popover();
    });
    movePopover = setTimeout(function () {
        $("#toggle").popover('update')
    }, 5000);

</script>



