@using static ThinBlueLie.Models.MediaEnums;
@model ThinBlueLie.Pages.Test3Model
@{
    ViewBag.Title = "Test3";
}
<style>
    .badge {
        padding: .4rem;
    }
</style>
<div class="row">
    <div class="offset-1 col-2 mt-5 border">
        <span class="badge badge-warning">Force</span>
        <span class="badge badge-warning">Pet Murder</span>
        <span class="badge badge-warning">Evidence Tampering</span>
        <span class="badge badge-warning">Harassment</span>
        <span class="badge badge-warning">Negligence</span>
        <span class="badge badge-warning">Theft</span>
        <span class="badge badge-warning">Search</span>
        <span class="badge badge-warning">False Arrest</span>
        <span class="badge badge-warning">Abuse of Power</span>
        <span class="badge badge-danger">Bodily Force</span>
        <span class="badge badge-danger">Projectile</span>
        <span class="badge badge-danger">Taser</span>
        <span class="badge badge-danger">Tear Gas</span>
        <span class="badge badge-danger">Vehicle</span>
        <span class="badge badge-danger">Firearm</span>
    </div>
    @*<div class=" offset-1 col-2 border ">
            <div class="btn-group mt-5" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary px-3">1</button>
                <button type="button" class="btn btn-outline-primary px-3">2</button>
                <button type="button" class="btn btn-outline-primary px-3">3</button>
            </div>
        </div>*@
    <div class="container offset-3 col-8 mt-5">
        <div class="col-6 dropdown my-2 px-0">
            <label class="control-label">Source:<span class="text-danger ml-1">*</span></label>
            <select id="SourceFormSelect" asp-for="Medias.SourceFrom" asp-items="Html.GetEnumSelectList(typeof(SourceFromEnum))" style="width:85%;" class="btn border-dark" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <option class="dropdown-item" selected>Select</option>
            </select>
            <span asp-validation-for="Medias.SourceFrom" class="text-danger"></span>
        </div>
        <div class="col-5">
            <div id="mediaFile" class="form-group">
                <label for="exampleFormControlFile1">Pick a File</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div id="mediaLink" class="form-group">
                <label for="url">Link the Media</label>
                <input type="url" class="form-control" id="exampleFormControlFile1">
            </div>
        </div>
    </div>
</div>
<script>
    //$(document).ready(function () { //enables popover
    //    $('[data-toggle="popover"]').popover();
    //});

    document.getElementById("mediaFile").style.display = "none";

    $('#SourceFormSelect').change(function () {
        var e = document.getElementById("SourceFormSelect");
        var strUser = e.options[e.selectedIndex].value;
        if (strUser == 6) {
            document.getElementById("mediaFile").style.display = "inline-block";
            document.getElementById("mediaLink").style.display = "none";
            alert("if ran");
        }
        else {
            document.getElementById("mediaFile").style.display = "none";
            document.getElementById("mediaLink").style.display = "inline-block";
            alert("else ran");
        }
    })
</script>



