@page
@model ThinBlueLie.Pages.TimelineLayoutModel
@{
    ViewData["Title"] = "TimelineLayout";
}

<style>
    #second {
        border: none;
    }
    card.header {
        font-size: 1rem;
    }
    hr.blueline {
        border: none;
        height: 2px;
        /* Set the hr color */
        color: #314DB2; /* old IE */
        background-color: #314DB2; /* Modern Browsers */
    }
    .timeline-label {
        position: absolute !important;
        top: -25px !important;
        text-align: center;
        padding: 0px;
        margin: 0px;
        left: 0px;
        width: 100%;        
    }
    
</style>
<body>
    <div style="position:relative;" class="container-fluid mt-3 mb-3 text-center">
   <!-- <div   This draws that "Timeline" idk man, it kinda looks better without it.
             id="imposedline" style="width:80%; border-top: 1px solid black;" class="pt-0 mt-0">
        </div> -->
        <div><span><br /></span></div>
        <div style="width:70%;" id="timelinediv" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="week btn ">
                <span id="Timeline-Day0"  class="timeline-label"></span>
                <input type="radio" name="options" alt="Sunday" id="option1" autocomplete="off" checked>
            </label>
            <label id="Timeline-Day1" class="week btn">
                <span class="timeline-label"></span>
                <input type="radio" name="options" alt="Monday" id="option2" autocomplete="off">
            </label>      
            <label id="Timeline-Day2" class="week btn">
                <span class="timeline-label"></span>
                <input type="radio" name="options" alt="Tuesday" id="option3" autocomplete="off">
            </label>
            <label id="Timeline-Day3" class="week btn">
                <span class="timeline-label"></span>
                <input type="radio" name="options" alt="Wednesday" id="option4" autocomplete="off">
            </label>
            <label id="Timeline-Day4" class="week btn">
                <span class="timeline-label"></span>
                <input type="radio" name="options" alt="Thursday" id="option5" autocomplete="off">
            </label>
            <label id="Timeline-Day5"  class="week btn">
                <span class="timeline-label"></span>
                <input type="radio" name="options" alt="Friday" id="option6" autocomplete="off">
            </label>
            <label id="Timeline-Day6"  class="week btn">
                <span class="timeline-label"></span>
                <input type="radio" name="options" alt="Saturday" id="option7" autocomplete="off">
            </label>
        </div>
        <div style="width:18%;" class="content-bottom input-group float-right mb-2 mr-4">
            <input type="number" id="InputMonth" min="0" max="12" class="form-control" placeholder="MM" aria-label="Month">
            <input type="number" id="InputYear" min="1" max="31" class="form-control" placeholder="DD" aria-label="Day">
            <input type="number" id="InputYear" min="1980" max="2020" class="form-control" placeholder="YYYY" aria-label="Year">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="button">Search</button>
            </div>
        </div>
    </div>
    <div class="mr-5">
        <div class="card border-dark w-50 mb-3" style="max-width: 18rem; float:right;">
            <div class="card-header text-black"><strong>Data</strong></div>
            <div class="card-body text-dark">
                <h5 class="card-title mb-0">General Information</h5>
                <hr class="mt-0 pb-0 mb-0 pt-0" />
                <ul class="list-group list-group-flush">
                    <li id="second" class="list-group-item">
                        <p><strong>Date:</strong> 4/20 </p>
                        <p><strong>Location:</strong> Your mom's House </p>
                        <p><strong>Weapon:</strong> 12in ribbed BBC</p>
                    </li>
                </ul>
                <h5 class="card-title text-left mb-0">Victim's Information</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ">
                        <p><strong>Name:</strong> Killer Bean</p>
                        <p><strong>Race:</strong> Bean </p>
                        <p><strong>Sex:</strong> Yes please</p>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Incorrect Info?</a>
            </div>
        </div>
        <div style="border-radius: 3px;" class="container embed-responsive embed-responsive-21by9">
            <iframe class="container-fluid embed-responsive-item"
                    src="https://www.youtube.com/embed/cDna8oFt8FQ">
            </iframe>
        </div>
        <div class="ml-5 mt-3">
            <h5 style="text-indent: 3em; margin-left: 40px; font-size:25px; font-family: Cambira;" class="mt-2"> <strong>Legal Action</strong></h5>
            <hr class="blueline mt-0 pb-0 mb-0 pt-0" style="height: 1px;"/>
        </div>
    </div>
    <div class="container">
        <p>At this point no action has been taken</p>
    </div>
</body>
<script> 
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";
    var todayDate = new Date();

    for (var i = 0; i < 7; i++) {
        var date = new Date();     

        
        if (window.matchMedia("(min-width: 768px)").matches) {
            var dayName = weekday[date.getDay()];
            document.getElementById("Timeline-Day" + date.getDay()).getElementsByClassName("timeline-label")[0].innerHTML = dayName + " ";
            
        }
       // for all numbers larger than the id of the current day set disabled to the class list
        m = date.getMonth() + 1;
        d = date.getDate();
        document.getElementById("Timeline-Day" + date.getDay()).getElementsByClassName("timeline-label")[0].innerHTML += m + "/" + d;
    }
</script>
