@page
@model ThinBlueLie.Pages.TimelineModel
@{
    ViewData["Title"] = "Timeline";
}

<style>
    .brokencard {
        border: none;
    }

    card.header {
        font-size: 1rem;
    }

    hr.blueline {
        border: none;
        height: 2px;
        /* Set the hr color */
        color: #314DB2; /* old IE */
        background-color: #314DB2; /* Modern Browsers */
    }

    .timeline-label {
        position: absolute !important;
        top: -25px !important;
        text-align: center;
        padding: 0px;
        margin: 0px;
        left: 0px;
        width: 100%;
    }

    .btn.week.focus, .btn.week.active {
        box-shadow: none;
        outline: #919191 solid 3px;
    }
    .btn {
        cursor: pointer;
    }

</style>
<body onresize="loadTimes()">
    <div style="position:relative;" class="container-fluid mt-4 mb-3 text-center d-block">
        <!-- <div   This draws that "Timeline" idk man, it kinda looks better without it.
             id="imposedline" style="width:80%; border-top: 1px solid black;" class="pt-0 mt-0">
        </div> -->
        <div id="calendarDiv" class="text-left container">
            <div class="divcalendar nogap mb-3 mx-auto">
                <div id="calendaroverallcontrols">
                    <!-- <div id="year"></div> -->
                    <div id="calendarmonthcontrols">
                        <a id="btnPrevYr" href="javascript:void();" title="Previous Year"><span><<</span></a>
                        <a id="btnPrev" href="javascript:void();" title="Previous Month"><span><</span></a>
                        <!-- <input type="button" src="images/btnprevmonth.png" alt="Submit" id="btnPrev"/>-->
                        <!-- <div id="month"></div>-->
                        <div id="monthandyear"></div>
                        <!--<input type="button" src="images/btnnextmonth.png" alt="Submit" id="btnNext"/>-->
                        <a id="btnNext" href="javascript:void();" title="Next Month"><span>></span></a>
                        <a id="btnNextYr" href="javascript:void();" title="Next Year"><span>>></span></a>
                    </div>
                </div>
                <div id="divcalendartable"></div>
            </div>
        </div>  @*Timeline*@
        <div style="width:70%;" id="timelineDiv" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label onclick="location.href='?d=2020/6/23';" id="Timeline-label0" class="week btn">
                <span id="Timeline-Day0" class="timeline-label"></span>
                <input type="radio" alt="Sunday" id="option1">
            </label>
            <label id="Timeline-label1" class="week btn">
                <span id="Timeline-Day1" class="timeline-label"></span>
                <input type="radio" name="options" alt="Monday" id="option2">
            </label>
            <label id="Timeline-label2" class="week btn">
                <span id="Timeline-Day2" class="timeline-label"></span>
                <input type="radio" name="options" alt="Tuesday" id="option3">
            </label>
            <label id="Timeline-label3" class="week btn">
                <span id="Timeline-Day3" class="timeline-label"></span>
                <input type="radio" name="options" alt="Wednesday" id="option4">
            </label>
            <label id="Timeline-label4" class="week btn">
                <span id="Timeline-Day4" class="timeline-label"></span>
                <input type="radio" name="options" alt="Thursday" id="option5">
            </label>
            <label id="Timeline-label5" class="week btn">
                <span id="Timeline-Day5" class="timeline-label"></span>
                <input type="radio" name="options" alt="Friday" id="option6">
            </label>
            <label id="Timeline-label6" class="week btn">
                <span id="Timeline-Day6" class="timeline-label"></span>
                <input type="radio" name="options" alt="Saturday" id="option7">
            </label>
        </div> @*Format Select*@
        <div style="width:15%;" class=" ml-4 d-inline-block">
            <div id="format-select" style="width:100%; float:right;" class="d-none d-md-inline-block input-group mb-1">
                <a id="showWeekButton" onclick="showWeek()" class="btn btn-outline-info">Week</a>
                <a id="showMonthButton" onclick="showMonth()" class="btn btn-outline-info">Month</a>
            </div>  @*Date Search*@
            <br />
            <div style="" class="input-group mb-2 mr-4">
                <input type="number" id="InputMonth" min="0" max="12" class="form-control" placeholder="MM" aria-label="Month">
                <input type="number" id="InputYear" min="1" max="31" class="form-control" placeholder="DD" aria-label="Day">
                <input type="number" id="InputYear" min="1930" max="2020" class="form-control" placeholder="YYYY" aria-label="Year">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div style="display:block; white-space:nowrap; width:100%;">
        @*Video*@
        <div style="width:65%; margin-left:8%; margin-right:5%; vertical-align:top;" class="h-100 d-inline-block">
            <div style="border-radius:3px; width:100%;" class="embed-responsive embed-responsive-2by1 d-inline-block">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/WNKF8rbl2uA" allowfullscreen>
                </iframe>
            </div>
        </div>
        @*Information Card*@
        <div id="side-info">
            <div class="card border-dark mr-5 mb-3 float-right d-inline-block" style="width: 15rem;">
                <div class="card-header text-black"><strong>Data</strong></div>
                <div class="card-body text-dark">
                    <h5 class="card-title mb-0">General Information</h5>
                    <hr class="mt-0 pb-0 mb-0 pt-0" />
                    <ul class="list-group list-group-flush">
                        <li class="brokencard list-group-item">
                            <p><strong>Location: </strong></p>
                            <p><strong>Source: </strong></p>
                            <p><strong>Credit: </strong></p>
                        </li>
                    </ul>
                    <h5 class="card-title text-left mb-0">Officer's Information</h5>
                    <hr style="height:1px;" class="mt-0 pb-0 mb-0 pt-0" />
                    <ul class=" list-group list-group-flush">
                        <li class="brokencard list-group-item">
                            <p><strong>Name: </strong></p>
                            <p><strong>Sex:</strong></p>
                            <p><strong>Race:</strong></p>
                            <p><strong>Agency:</strong></p>
                            <p><strong>Agency: </strong></p>
                            @*Have little label/tags for "violence" "harrassment" "negligence" "evidence planting"*@
                        </li>
                    </ul>
                    <h5 class="card-title text-left mb-0">Victim's Information</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">
                            <p><strong>Name: </strong></p>
                            <p><strong>Sex: </strong></p>
                            <p><strong>Race: </strong></p>
                            <p><strong>Armed: </strong> </p>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-primary">Incorrect Info?</a>
                </div>
            </div>
            <div> @Model.Date </div>
        </div>
    </div>
    <div id="bottom-info" style="width:100%;">
        <div style="width:65%;" class="card-group mx-auto mt-3 w-100 d-inline-block">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-left mb-0">General Information</h5>
                    <ul class=" list-group list-group-flush">
                        <li class="list-group-item">
                            <p><strong>Date:</strong></p>
                            <p><strong>Location:</strong></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-left mb-0">Officer's Information</h5>
                    <hr style="height:1px;" class="mt-0 pb-0 mb-0 pt-0" />
                    <ul class=" list-group list-group-flush">
                        <li class="brokencard list-group-item">
                            <p><strong>Name:</strong></p>
                            <p><strong>Race:</strong></p>
                            <p><strong>Agency:</strong></p>
                            @*Have little label/tags for "violence" "harrassment" "negligence" "evidence planting"*@
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-left mb-0">Victim's Information</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">
                            <p><strong>Name:</strong></p>
                            <p><strong>Race:</strong></p>
                            <p><strong>Sex:</strong></p>
                            <p><strong>Weapon:</strong> </p>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-primary">Incorrect Info?</a>
                </div>
            </div>
        </div>
    </div>


</body>
<script>
    document.getElementById("Timeline").classList.add("onpage");

    var weekDays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
    //function loadDays() {
    //var weekDays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

    if (window.matchMedia("(min-width: 768px)").matches) {
        for (i = 0; i < 7; ++i)
            document.getElementById("Timeline-Day" + i).innerHTML += weekDays[i] + " ";
    }
    //}
    //loadDays();
    var curr = new Date(); // get current date
    var first = curr.getDate() - curr.getDay(); // First day is the  day of the month - the day of the week
    var last = first + 6; // last day is the first day + 6

    var day = new Array(7);
    day[0] = new Date(curr.setDate(first));
    for (i = 1; i < 7; i++) { //This for loop creates the time info for each day with the following loop pulls the month and date out of
        day[i] = new Date(curr.setDate(curr.getDate() + 1));
    }

    var m = new Array(7);
    var d = new Array(7);
    for (i = 0; i < 7; i++) { //This for loop adds the date onto the end of the day using arrays
        m[i] = day[i].getMonth() + 1;
        d[i] = day[i].getDate();
        document.getElementById("Timeline-Day" + i).innerHTML += m[i] + "/" + d[i];
    }

    function loadTimes() {
        for (i = 0; i < 7; i++) {
            if (document.getElementById("Timeline-Day" + i).innerHTML == m[i] + "/" + d[i] && window.matchMedia("(min-width: 768px)").matches) {
                document.getElementById("Timeline-Day" + i).innerHTML = weekDays[i] + " " + m[i] + "/" + d[i];
            }
            if (document.getElementById("Timeline-Day" + i).innerHTML == weekDays[i] + " " + m[i] + "/" + d[i] && window.matchMedia("(max-width: 767px)").matches) {
                document.getElementById("Timeline-Day" + i).innerHTML = m[i] + "/" + d[i];
            }
        }
    }


    // for all numbers larger than the id of the current day set disabled to the class list and disabled clicking
    var current = new Date();

    for (i = 0; i < 7; i++) {
        if (day[i] > current) {
            // document.getElementById("Timeline-Day" + i).innerHTML += "/";
            document.getElementById("Timeline-label" + i).classList.add("disabled");
            document.getElementById("Timeline-label" + i).style.pointerEvents = "none";
        }
    }   
    //// make the current day "active"
    //for (i = 0; i < 7; i++) {
    //    if (!(day[i] > current) && !(day[i] < current)) {
    //        document.getElementById("Timeline-label" + i).classList.add("active");
    //    }
    //}
</script>
<script>
    document.getElementById("calendarDiv").style.display = "none";
    document.getElementById("showWeekButton").classList.add("active");

    function showMonth() {
        var x = document.getElementById("calendarDiv");
        if (x.style.display === "none") {
            x.style.display = "inline-block";
            document.getElementById("timelineDiv").style.display = "none";
            document.getElementById("showMonthButton").classList.add("active");
            document.getElementById("showWeekButton").classList.remove("active");
        }
    }

    function showWeek() {
        var x = document.getElementById("timelineDiv");
        if (x.style.display === "none") {
            x.style.display = "inline-flex";
            document.getElementById("calendarDiv").style.display = "none";
            document.getElementById("showWeekButton").classList.add("active");
            document.getElementById("showMonthButton").classList.remove("active");
        }
    }

</script>
<script>

</script>