@using DiffPlex.DiffBuilder;
@using DiffPlex.DiffBuilder.Model;
@using ThinBlueLieB.Helper.Extensions 
@inject IJSRuntime JSRuntime
@inject ISideBySideDiffBuilder sideBySide

<style>
    del, .deleted-li {
        text-decoration: line-through;
        background-color: #fbb;
        color: #555;
    }

    ins, .inserted-li {
        text-decoration: none;
        background-color: #d4fcbc;
    }
</style>
<div>
    <h5 class="border-bottom">Officer's information</h5>
    <p>
        <CompareLine Model="Model.Lines.FirstOrDefault()"></CompareLine>
    </p>
    <span>
        @((MarkupString)(NewOfficer.Race == OldOfficer.Race? NewOfficer.Race.ToString() : IsOriginal? "<del>"+OldOfficer.Race+"</del>" : "<ins>" + NewOfficer.Race + "</ins>" ))
        @((MarkupString)(NewOfficer.Sex == OldOfficer.Sex? NewOfficer.Sex.ToString() : IsOriginal? "<del>"+OldOfficer.Sex+"</del>" : "<ins>" + NewOfficer.Sex + "</ins>" )),
        @((MarkupString)(NewOfficer.Age == OldOfficer.Age? NewOfficer.Age.ToString() : IsOriginal? "<del>"+OldOfficer.Age+"</del>" : "<ins>" + NewOfficer.Age + "</ins>" )) years of age
    </span>
    <label class="d-block font-weight-bold mt-1">
        Misconducts
    </label>
    <CompareList TEnum="TimelineinfoEnums.MisconductEnum" New="NewOfficer.Misconduct" Old="OldOfficer.Misconduct"></CompareList>   
    <label class="d-block font-weight-bold mt-1">
        Weapon
    </label>
    <ul>
        @if (OldOfficer.Weapon != 0 || NewOfficer.Weapon != 0)
        {
            <CompareList TEnum="TimelineinfoEnums.WeaponEnum" New="(int)NewOfficer.Weapon" Old="(int)OldOfficer.Weapon"></CompareList>
        }
    </ul>
</div>

@code {
    [CascadingParameter]
    public bool IsOriginal { get; set; }
    [Parameter]
    public DiffPaneModel Model { get; set; }
    [Parameter]
    public DBOfficer OldOfficer { get; set; }
    [Parameter]
    public DBOfficer NewOfficer { get; set; }
    protected override void OnInitialized()
    {
       // OfficerSummary = StringExtensions.GetPersonSummary(new ViewSimilar.ViewSimilarPerson { })
    }
}
