@using ThinBlueLieB.Helper.Extensions
@typeparam TEnum

@if (IsOriginal)
{
    @foreach (Enum flag in Enum.GetValues(typeof(TEnum)))
    {
        if (((Enum)Enum.ToObject(typeof(TEnum), Old)).HasFlag(flag))
        {
            if (((Enum)Enum.ToObject(typeof(TEnum), New)).HasFlag(flag))
            {
                <li>@EnumExtensions.GetEnumDisplayName(flag)</li>
            }
            else
            {
                <li class="deleted-li">@EnumExtensions.GetEnumDisplayName(flag)</li>
            }

        }
    }
}
else
{
    @foreach (Enum flag in Enum.GetValues(typeof(TEnum)))
    {
        if (((Enum)Enum.ToObject(typeof(TEnum), New)).HasFlag(flag))
        {
            if (((Enum)Enum.ToObject(typeof(TEnum), Old)).HasFlag(flag))
            {
                <li>@EnumExtensions.GetEnumDisplayName(flag)</li>
            }
            else
            {
                <li class="inserted-li">@EnumExtensions.GetEnumDisplayName(flag)</li>
            }
        }
    }
}
@code {
    [CascadingParameter]
    public bool IsOriginal { get; set; }

    [Parameter]
    public int Old { get; set; }
    [Parameter]
    public int New { get; set; }
}
