@using DataAccessLibrary.Enums;
@using ThinBlueLieB.Models;
@using Syncfusion.Blazor.DropDowns
@using System.Linq
@using DataAccessLibrary.DataModels
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

<div class="flagPopover">
    <form>
        <div style="width:200px; min-height:150px;">
            <div class="form-group">
                <div class="dropdown pl-0" style="position:relative;">
                    <SfDropDownList TItem="ListItem" TValue="uint" PopupHeight="230px" FloatLabelType="@FloatLabelType.Auto" Index="1" Placeholder="Race" @bind-Value="@flagged.FlagType" DataSource="@FlagTypes">
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
            </div>
            <div class="form-group mb-2">
                <SfTextBox Placeholder="Explain why you are flagging" FloatLabelType="@FloatLabelType.Auto" Multiline="true"></SfTextBox>
            </div>
            <textarea asp-for="Flags.IdTimelineinfo" class="idTimelineInput d-none"></textarea>
        </div>
    </form>
    <div>
        <button class="submitFlag btn btn-primary float-right w-50 mb-1">Submit</button>
    </div>
</div>

@code {
    Flagged flagged = new Flagged();

    public class ListItem
    {
        public int Value { get; set; }
        public string Text { get; set; }
    }
    List<ListItem> FlagTypes = Enum.GetValues(typeof(FlaggedEnums.FlagTypeEnum)).Cast<FlaggedEnums.FlagTypeEnum>().Select(
                 x => new ListItem { Text = x.ToString(), Value = (int)x }).ToList();
}
