@page "/test"
@using Syncfusion.Blazor.Buttons
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Mvc
@using ThinBlueLieB.Helper.Extensions
@using Syncfusion.Blazor.DropDowns
@using Microsoft.AspNetCore.Identity
@using DiffPlex.DiffBuilder;
@using DiffPlex.DiffBuilder.Model;
@inject ISideBySideDiffBuilder sideBySide
@inject RoleManager<IdentityRole> roleManager

<div class="w-75 mt-5 container">
    @*<SfDropDownList TItem="string" TValue="TimelineinfoEnums.RaceEnum?" PopupHeight="230px" Placeholder="Race" @bind-Value="@officer.Race" DataSource="@Races">
    </SfDropDownList>
    <h3>@officer.Race</h3>*@    
    <div class="row">
        @*<div class="col-6 px-4">
            <CascadingValue Value="true">
                <h5 class="border-bottom">Officer's information</h5>
                <CompareOfficer Model="Officerdiff.OldText" NewOfficer="newOfficer" OldOfficer="oldOfficer"></CompareOfficer>
                <h5 class="border-bottom">Subject's information</h5>
                <CompareSubject Model="Subjectdiff.OldText" NewSubject="newSubject" OldSubject="oldSubject"></CompareSubject>
            </CascadingValue>
        </div>
        <div class="col-6 px-4">
            <CascadingValue Value="false">
                <h5 class="border-bottom">Officer's information</h5>
                <CompareOfficer Model="Officerdiff.NewText" NewOfficer="newOfficer" OldOfficer="oldOfficer"></CompareOfficer>
                <h5 class="border-bottom">Subject's information</h5>
                <CompareSubject Model="Subjectdiff.NewText" OldSubject="oldSubject" NewSubject="newSubject"></CompareSubject>
            </CascadingValue>
        </div>*@
    </div>
    <div class="container-fluid d-inline-block">
        <CompareOfficers NewOfficers="newOfficers" OldOfficers="oldOfficers"></CompareOfficers>
    </div>
</div>

@code{
    public ViewOfficer officer { get; set; } = new ViewOfficer();
    protected override void OnInitialized()
    {
        officer.Race = TimelineinfoEnums.RaceEnum.Native;
        officer.Misconduct = new int[] { };


    }
    List<DBOfficer> oldOfficers = new List<DBOfficer>
    {
        new DBOfficer{
        IdOfficer = 1,
        Name = "Man Smith",
        Age = 59,
        Race = TimelineinfoEnums.RaceEnum.White,
        Sex = TimelineinfoEnums.SexEnum.Unclear,
        Misconduct = 174,
        Weapon = 39
        },
        new DBOfficer{
        IdOfficer = 2,
        Name = "John Aladda",
        Age = 29,
        Race = TimelineinfoEnums.RaceEnum.White,
        Sex = TimelineinfoEnums.SexEnum.Unclear,
        Misconduct = 135,
        Weapon = 65
        }
    };
    List<DBOfficer> newOfficers = new List<DBOfficer>
    {
        new DBOfficer{
        IdOfficer = 3,
        Name = "Dude Man",
        Age = 19,
        Race = TimelineinfoEnums.RaceEnum.White,
        Sex = TimelineinfoEnums.SexEnum.Unclear,
        Misconduct = 84,
        Weapon = 16
        },
        new DBOfficer{
        IdOfficer = 2,
        Name = "Jonathan Aledda",
        Age = 30,
        Race = TimelineinfoEnums.RaceEnum.Hispanic,
        Sex = TimelineinfoEnums.SexEnum.Male,
        Misconduct = 89,
        Weapon = 64
         }
    };
    List<DBSubject> oldSubjects = new List<DBSubject>
    {
        new DBSubject{
        Name = "Charles Kensley",
        Age = 46,
        Race = TimelineinfoEnums.RaceEnum.Black,
        Sex = TimelineinfoEnums.SexEnum.Male,
        Armed = true
        }
    };
    List<DBSubject> newSubjects = new List<DBSubject>
    {
        new DBSubject{
        Name = "Charles Kinsey",
        Age = 47,
        Race = TimelineinfoEnums.RaceEnum.Black,
        Sex = TimelineinfoEnums.SexEnum.Male,
        Armed = false
        }
    };
    private List<SideBySideDiffModel?> Officerdiff = new List<SideBySideDiffModel?>();
    private List<SideBySideDiffModel> Subjectdiff = new List<SideBySideDiffModel>();

    public IEnumerable<string> Races = EnumExtensions.GetEnumDisplayNames<TimelineinfoEnums.RaceEnum>();
}
