@page "/test"
@using Syncfusion.Blazor.Buttons
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Mvc
@using ThinBlueLieB.Helper.Extensions
@using Syncfusion.Blazor.DropDowns
@using Microsoft.AspNetCore.Identity
@using DiffPlex.DiffBuilder;
@using DiffPlex.DiffBuilder.Model;
@inject ISideBySideDiffBuilder sideBySide
@inject RoleManager<IdentityRole> roleManager

<div class="w-75 mt-5 container">
    @*<SfDropDownList TItem="string" TValue="TimelineinfoEnums.RaceEnum?" PopupHeight="230px" Placeholder="Race" @bind-Value="@officer.Race" DataSource="@Races">
    </SfDropDownList>
    <h3>@officer.Race</h3>*@    
    <div class="row">
        <div class="col-6 px-4">
            <CompareOfficer IsOriginal="true" Model="diff.OldText" NewOfficer="newOfficer" OldOfficer="oldOfficer"></CompareOfficer>
        </div>
        <div class="col-6 px-4">
            <CompareOfficer IsOriginal="false" Model="diff.NewText" NewOfficer="newOfficer" OldOfficer="oldOfficer"></CompareOfficer>
        </div>
    </div>
</div>

@code{
    public ViewOfficer officer { get; set; } = new ViewOfficer();
    protected override void OnInitialized()
    {
        officer.Race = TimelineinfoEnums.RaceEnum.Native;
        officer.Misconduct = new int[] { };
        diff = sideBySide.BuildDiffModel(oldOfficer.Name, newOfficer.Name);
    }
    DBOfficer oldOfficer = new DBOfficer
    {
        Name = "John Aladda",
        Age = 29,
        Race = TimelineinfoEnums.RaceEnum.White,
        Sex = TimelineinfoEnums.SexEnum.Unclear,
        Misconduct = 135,
        Weapon = 65
    };
    DBOfficer newOfficer = new DBOfficer
    {
        Name = "Jonathan Aledda",
        Age = 30,
        Race = TimelineinfoEnums.RaceEnum.Hispanic,
        Sex = TimelineinfoEnums.SexEnum.Male,
        Misconduct = 89,
        Weapon = 64
    };
    private SideBySideDiffModel diff;

    public IEnumerable<string> Races = EnumExtensions.GetEnumDisplayNames<TimelineinfoEnums.RaceEnum>();
}
