@page "/test"
@using Syncfusion.Blazor.Buttons
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Mvc

@using Syncfusion.Blazor.DropDowns

<div class="container px-5">
    <AuthorizeView>
        <NotAuthorized>
            <p>
                You are not Authorized
            </p>
        </NotAuthorized>
        <Authorized>
            <p>
                You, @context.User.Identity.Name, are authorized
            </p>
        </Authorized>
    </AuthorizeView>
</div>
@code {
   
}
