@page "/test"
@using Syncfusion.Blazor.Buttons

@using Syncfusion.Blazor.DropDowns

<div class="container px-5">
    <SfButton @onclick="AddMedia">Add Media</SfButton>
    <SfListBox TValue="int[]" DataSource="@Data" TItem="ViewMedia" @ref="MediaListBoxObj">
        <ListBoxFieldSettings></ListBoxFieldSettings>
        <ListBoxTemplates TItem="ViewMedia">
            <ItemTemplate>
                <MediaCard MoveMediaDown="MoveMediaDown" MoveMediaUp="MoveMediaUp" MoveMediaTop="MoveMediaTop" DeleteMedia="DeleteMedia"></MediaCard>
            </ItemTemplate>
        </ListBoxTemplates>
        <ListBoxSelectionSettings Mode="SelectionMode.Single"></ListBoxSelectionSettings>
    </SfListBox>
    <div>
        <p>
            @message
        </p>
    </div>
</div>
<style>   
    .e-listbox-wrapper.e-wrapper{
        min-height: 280px;
    }
    .e-listbox-wrapper:not(.e-list-template) .e-list-item,
    .e-listbox-wrapper .e-list-nrt,
    .e-listbox-wrapper .e-selectall-parent {
         height: auto !important;        
    }
    .e-listbox-wrapper .e-list-item.e-selected {
         background-color: #f6efef !important;         
    }

</style>
@code { 
    // public ListData Model = new ListData();
    SfListBox<int[], ViewMedia> MediaListBoxObj;
    public List<ViewMedia> Data = new List<ViewMedia>
    {
        new ViewMedia{ ListIndex = 0}
    };
    string message = "placeholder";
    int MediaCount = 0;
    public List<ViewMedia> NewMediaItem { get; set; } = new List<ViewMedia>();
    public List<ViewMedia> NewMedia()
    {
        NewMediaItem.Add(new ViewMedia { ListIndex = MediaCount});
        return NewMediaItem;
    }
    private void AddMedia()
    {
        var newMediaItem = NewMedia();
        MediaListBoxObj.AddItems(newMediaItem);
        MediaCount++;
        message = MediaCount.ToString() + MediaListBoxObj.ToString();
        NewMediaItem.Clear();
    }
    private void MoveMediaUp(int Index)
    {
        message = "move media up" + Index;
        MediaListBoxObj.MoveUp(Index);
    }
    private void MoveMediaDown(int removeIndex)
    {
        throw new NotImplementedException();
    }
    private void MoveMediaTop(int removeIndex)
    {
        throw new NotImplementedException();
    }
    private void DeleteMedia(int removeIndex)
    {
        throw new NotImplementedException();
    }

    //public class ListData
    //{
    //    public string Text { get; set; }
    //    public string Pic { get; set; }
    //    public string Description { get; set; }
    //}
}
