@page "/test"
@using Syncfusion.Blazor.Buttons
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Mvc
@using ThinBlueLieB.Helper.Extensions
@using Syncfusion.Blazor.DropDowns
@using System.Threading.Tasks;
@using ThinBlueLieB.Helper.Algorithms.WebsiteProfiling

<div class="w-50 mt-5 container">
    <NewsCard newsUrl="@url"></NewsCard>
</div>

@code{
    public string url { get; set; }
    protected override void OnInitialized()
    {
        url = "https://www.denverpost.com/2020/10/03/president-trump-fight-against-covid-19-update/";
    }
}
