@page "/test"
@using Syncfusion.Blazor.Buttons

@using Syncfusion.Blazor.DropDowns

<div class="container px-5">
    <SfButton @onclick="addMedia">Add Media</SfButton>
    <SfButton @onclick="removeMedia">Remove Media</SfButton>
    <SfListBox TValue="List<ViewMedia>" DataSource="@Data" TItem="ViewMedia" AllowDragAndDrop="true" @ref="MediaListBoxObj">
        <ListBoxFieldSettings></ListBoxFieldSettings>
        <ListBoxTemplates TItem="ViewMedia">
            <ItemTemplate>
                <MediaCard ListCount="1"></MediaCard>
            </ItemTemplate>
        </ListBoxTemplates>
        <ListBoxSelectionSettings Mode="SelectionMode.Single"></ListBoxSelectionSettings>
    </SfListBox>
</div>
<style>
    .e-listbox-wrapper.e-wrapper{
        min-height: 280px;
    }
    .e-listbox-wrapper:not(.e-list-template) .e-list-item,
    .e-listbox-wrapper .e-list-nrt,
    .e-listbox-wrapper .e-selectall-parent {
         height: auto !important;        
    }
    .e-listbox-wrapper .e-list-item.e-selected {
         background-color: #f6efef !important;         
    }

</style>
@code {
    // public ListData Model = new ListData();
    SfListBox<List<ViewMedia>, ViewMedia> MediaListBoxObj;
    public List<ViewMedia> Data = new List<ViewMedia>
    {
        new ViewMedia{}
    };

    public List<ViewMedia> NewMedia = new List<ViewMedia>
    {
        new ViewMedia{}
    };
    private int cardNumber { get; set; } = 0;
    private void addMedia()
    {
        MediaListBoxObj.AddItems(NewMedia);
    }
    private void removeMedia()
    {
        MediaListBoxObj.RemoveItems(MediaListBoxObj.Value[cardNumber]);
    }

    //public class ListData
    //{
    //    public string Text { get; set; }
    //    public string Pic { get; set; }
    //    public string Description { get; set; }
    //}
}
