@page "/test"
@using Syncfusion.Blazor.Buttons
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Mvc
@using ThinBlueLieB.Helper

@using Syncfusion.Blazor.DropDowns

<div class="container w-25 mt-5 px-5">
    <SfDropDownList TItem="Extensions.ListItem" TValue="byte" PopupHeight="230px"  Placeholder="Race" DataSource="@Races">
        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
    </SfDropDownList>
    <SfDropDownList TItem="Extensions.ListItem" TValue="byte" PopupHeight="230px" Placeholder="Race" DataSource="@Races">
        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
    </SfDropDownList>
    <SfDropDownList TValue="string" TItem="GameFields" PopupHeight="230px" Placeholder="Select a game" DataSource="@Games">
        <DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
    </SfDropDownList>
</div>
@code {
    public List<Extensions.ListItem> Races;
    public class GameFields
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }
    public List<GameFields> Games;
    protected override void OnInitialized()
    {
        Races = (List<Extensions.ListItem>)Extensions.GetDropdownList<TimelineinfoEnums.RaceEnum>.Items;
        Games = new List<GameFields>() {
    new GameFields(){ ID= "Game1", Text= "American Football" },
    new GameFields(){ ID= "Game2", Text= "Badminton" },
    new GameFields(){ ID= "Game3", Text= "Basketball" },
    new GameFields(){ ID= "Game4", Text= "Cricket" },
    new GameFields(){ ID= "Game5", Text= "Football" },
    new GameFields(){ ID= "Game6", Text= "Golf" },
    new GameFields(){ ID= "Game7", Text= "Hockey" },
    new GameFields(){ ID= "Game8", Text= "Rugby"},
    new GameFields(){ ID= "Game9", Text= "Snooker" },
    new GameFields(){ ID= "Game10",Text= "Tennis"}
    };
    }
}
