@page "/test"
@using Syncfusion.Blazor.Buttons
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Mvc
@using ThinBlueLieB.Helper.Extensions
@using Syncfusion.Blazor.DropDowns
@using System.Threading.Tasks;
@using ThinBlueLieB.Helper.Algorithms.WebsiteProfiling
@inject IJSRuntime JsRuntime

<div class="w-50 mt-5 container">
  <div id="player"></div>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await JsRuntime.InvokeVoidAsync("loadYTScript", "p4MD6ycpQpY");
            //await JsRuntime.InvokeVoidAsync("onYouTubeIframeAPIReady");
            //await JsRuntime.InvokeVoidAsync("onYouTubeIframeAPIReady");
            await JsRuntime.InvokeVoidAsync("LoadVideo", "p4MD6ycpQpY");
        }
    }
}
