@page "/test"
@using Syncfusion.Blazor.Buttons
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Mvc
@using ThinBlueLieB.Helper.Extensions
@using Syncfusion.Blazor.DropDowns
@using System.Threading.Tasks;
@inject IJSRuntime JsRuntime

<div class="mt-5 container">
    <Timeline Date="DateTime.Today"></Timeline>
</div>

@code{
    public ViewMedia model = new ViewMedia();
    public ViewOfficer officer { get; set; } = new ViewOfficer();
    protected override async Task OnInitializedAsync()
    {
        officer.Misconduct = new int[] { };
    }
    IReadOnlyList<EnumExtensions.ListItem> MisconductsList = EnumExtensions.GetDropdownList<TimelineinfoEnums.MisconductEnum>.Items;
}
