@page "/test"
@using Syncfusion.Blazor.Buttons

@using Syncfusion.Blazor.DropDowns

<div class="container px-5">
   @ConString
</div>
@code { 
    string ConString = Startup.ConnectionString;
    public static string GetConnectionString()
    {
        return Startup.ConnectionString;
    }
}
