@page "/test"
@using Syncfusion.Blazor.Buttons
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Mvc
@using ThinBlueLieB.Helper.Extensions
@using Syncfusion.Blazor.DropDowns
@using System.Threading.Tasks;
@inject IJSRuntime JsRuntime

<div class="w-50 mt-5 container">
    <EditForm Model="model">
        <MediaCard media="model"></MediaCard>
    </EditForm>
</div>

@code{
    public ViewMedia model = new ViewMedia();

    protected override async Task OnInitializedAsync()
    {

    }
}
