@inject IJSRuntime JsRuntime

<div id="@videoId"></div>

@code {
    [Parameter]
    public string videoId { get; set; }
    bool Loading;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //Loading = true;
            //await JsRuntime.InvokeVoidAsync("loadYTScript");
            //Loading = false;
            //await JsRuntime.InvokeVoidAsync("onYouTubeIframeAPIReady");
            //await JsRuntime.InvokeVoidAsync("onYouTubeIframeAPIReady");
            //await JsRuntime.InvokeVoidAsync("LoadVideo", videoId);
            await JsRuntime.InvokeVoidAsync("loadYouTubeFromId", videoId);
        }
    }
}
