@page "/Events"
@using ThinBlueLie.ViewModels 

<h3>Events</h3>



@code {
    [Parameter]
    public ViewEvent Event { get; set; }
    public DateTime? Date { get; set; }
    protected override async Task OnInitializedAsync()
    {
       //on
    }
}
