@page "/Fuck12"
<style>
    Html {
        height: 100%;
    }

    Body {
        min-height: 100%;
        height: 100%;
        background-image: url("Assets/Protests-Wallpaper.jpg") !important;
        background-position: center center;
        background-repeat: no-repeat !important;
        background-size: cover;
        overflow: hidden !important; /* Hide scrollbars */
        margin-bottom: 0px;
    }

    Main {
        padding-top: 30px;
        padding-bottom: 0px;
        margin-top: 30px;
    }

    h1 {
        font-family: Calibri;
    }

    .fuck12.jumbotron {
        background-color: transparent !important;
        color: white;
    }
</style>
<title>Fuck 12</title>
<main role="main" class="container">
    <div class="fuck12 jumbotron">
        <h1 class="display-4 text-white text-center">
            <strong>Fuck 12</strong>
        </h1>
    </div>
</main>

@code {

}
