@page "/"
@page "/Index"

<Title>Thin Blue Lie</Title>
<Meta property="og:type" content="website" />
<Meta Name="description" Content="Every year, police kill roughly 1,000 people and harass countless people, but much of it gets buried
    in documents and hidden from public view. Thin Blue Lie seeks to reveal this injustice." />

<style>
    .bluestrikethrough {
        z-index: 5;
        top: 1.5em;
        width: 100%;
        border: none;
        height: 3px;
        /* Set the hr color */
        color: #007bff; /* old IE */
        background-color: #007bff; /* Modern Browsers */
    }
    .header-image{
        display: flex;
    }
    .line {
        position: relative;
        width: 100%;
    }
    ul {
        list-style-type: none;
    }
</style>
<div class="header-image" style="background-image: url(Assets/Protests-Wallpaper.jpg) !important;">
    <div class="line"> <hr class="position-absolute bluestrikethrough"></div>
    <div style="flex-grow: 0; flex-shrink: 0; ">
        <h1 style="font-family: MillerItalic, Georgia, serif; font-size: 4em;" class="text-primary font-italic px-3">Thin Blue Lie </h1>
    </div>
    <div class="line"><hr class="position-absolute bluestrikethrough"></div>
</div>
<div class="container">
    <div class="py-3 px-5 border-bottom">
        <h6>
            Every year, police kill roughly <strong>1,000</strong> people and harass countless people, but much of it gets buried
            in documents and hidden from public view
        </h6>
    </div>
    <div class="text-center">
        <h5>
            Since we were focusing on getting functionality working, the home page is a bit bare bones, explore the below links. 
        </h5>
    </div>
    <div>
        <ul>
            <li>
                <a href="/Events">Events</a>
            </li>
             <li>
                <a href="/Submit">Submit an Event</a>
            </li>
             <li>
                <a href="/About">About Us</a>

            </li>
        </ul>
    </div>
</div>


@code {
   
}
