@page "/About/Rules"

<Title>Rules - Thin Blue Lie</Title>
<Meta Property="og:type" Content="article" />
<Meta Property="og:title" Content="Rules of Thin Blue Lie" />
<Meta Name="description" Content="Thin Blue Lie was founded on the principle of collecting all cases of police misconduct and showing it all for free.
            However, because this is a politically charged issue, we have had to put in place a set of (relatively lenient) rules. "/>

<style>
    .rules-header-image {
        background-size: cover !important;
        background-color: #919191;
        width: 100%;
        border-radius: 0px !important;
        padding-top: 3rem !important;
        padding-bottom: 2rem !important;
        margin-bottom: 0px;
        margin-top: 0px !important;
    }
</style>
<div class="rules-header-image" style="background-image: url(Assets/Protests-Wallpaper.jpg) !important;">
    <div class="my-auto text-center">
        <h1 style="font-family: 'Crimson Text', serif; font-size: 4em;" class="text-white d-inline-block">
            Rules
        </h1>
    </div>
</div>
<div class="container">
    <div class="border-bottom pt-2">
        <h5>
            Thin Blue Lie was founded on the principle of providing and collecting all cases of police misconduct. However, because this is a
            politically charged issue, we have had to put in place security measures to protect the website while maintaining accessability.
            One of those measures is our set of rules:
        </h5>
    </div>
    <ol>
        <li>
            <span style="font-size:1rem">All posted material <strong>must</strong> be relavent to police misconduct.</span>
            <p>
                This means no posting a link to your instagram feed full of puppies, no spamming unrelated political news,
                etc.
            </p>
        </li>
        <li>
            <span style="font-size:1rem"><strong>Be Objective</strong></span>
            <p>
                Believe us, we know how hard it is to stay impartial when discussing police misconduct/brutality, but
                all posts must be objective and factual to the fullest extent.
            </p>
        </li>
        <li>
            <span style="font-size:1rem">All swears and slurs must be censor*d.</span>
            <p>
                To provide an accurate recount of events, we will not be limiting the use of any word which was used in
                an event. But, because unbleeped slurs can diminish an article's reputability, we have chosen to bleep them.
                This only applies to text-based instances, we understand if you cannot edit videos or images. 
            </p>
        </li>
    </ol>
</div>


