@page "/About/Submission-Guide"

<Title>Submission-Guide - Thin Blue Lie</Title>
<Meta Property="og:type" Content="article" />
<Meta Property="og:title" Content="Guides - Thin Blue Lie" />
<Meta Name="description" Content="Thin Blue Lie was founded on the principle of providing and collecting all cases of police misconduct. In order to maintain a 
                respectable source of information while not excluding fringe cases, we've implemented the following guidelines for event creation and entry."/>

<div class="container">
    <div>
        <h3 class="text-center">
            What qualifies for submission?
        </h3>
        <div>
            <strong>
                Thin Blue Lie was founded on the principle of collecting <em>all</em> cases of police misconduct. In order to remain a 
                respectable source while not excluding fringe cases, we count events as valid if they fit the following intentionally vague description:
            </strong>
            <blockquote class="mt-3 text-center font-italic">
                An event must display an officer using their authority to performing an immoral or illegal act.
            </blockquote>   
            <p>
                This means that even if an officer was commiting a crime while not on duty, unless they used their
                authority to get a reduced sentence, then it's just a citizen commiting a crime and has nothing to do with police misconduct. We included
                the term immoral such that even if things like chokeholds or other dangerous methods of subduing subjects is legal within the state where
                the incident occured, it can and should still be logged in our database.
            </p>
            <p>
                If intimidated by the length and depth of the submission form, feel free to just put in the minimum information. It's important to log
                as many events as possible and such events can always be returned to for editing. 
            </p>
            <h6>
                All posts must fit the following requirements:
            </h6>
            <ol>
                <li>
                    <span style="font-size:1.15rem"><strong>Be Specific</strong></span>
                    <p>
                        We understand that your event may lack details such as an Officer or Subject's name, race, or sex. While you can submit missing that information,
                        we ask that you try to look online or elsewhere for more information before submitting so that the article is as fleshed out as possible.
                        If posting an event from protests such as the 2020 BLM Protests which spanned multiple months or other protests that covered entire cities,
                        be as specific to the date and event as possible. There can be multiple events in one protest.
                    </p>
                </li>
                <li>
                    <span style="font-size:1rem"><strong>Be Thorough</strong></span>
                    <p>
                        Before hitting submit, try to find as much information as possible about your event. This means looking for articles, finding officer names, etc.
                        All events must contain a minimum of one piece of Media, be it an image, video, or news article.
                        For larger events with lots of media available, those which would require a long detailed Context, events such as the Death of Eric Garner,
                        feel free to submit then return to edit at a later date.
                    </p>
                </li>
                <li>
                    <span style="font-size:1rem"><strong>Be Objective</strong></span>
                    <p>
                        Believe us, we know how hard it is to stay impartial when discussing police misconduct/brutality, but
                        all posts must be objective and factual to the fullest extent. A good goal is to try to imitate the neutrality Wikipedia Article.
                    </p>
                </li>
                <li>
                    <span style="font-size:1rem"><strong>Be Clear and Stay on Topic</strong></span>
                    <p>
                        All events must portay clearly and exclusively just what happened. All posted material must be relevant to police misconduct.
                        This means no posting a link to your instagram feed full of puppies. This also means that we discourage talking about things such as
                        general statistics or the political climate in the city where the event occured unless it relates directly to the event.
                        Try not to get too convoluted and don't duplicate media within events.
                    </p>
                </li>
                <li>
                    <span style="font-size:1rem"><strong>All swears and slurs must be censor*d.</strong></span>
                    <p>
                        To provide an accurate recount of events, we will not be limiting the use of any word which was used in
                        an event but all slurs and swears must be censored. This only applies to text-based instances, we understand if you cannot edit videos or images.
                    </p>
                </li>
            </ol>
            <p>
                In the rare case that you cannot fit the one-media requirement, please email us at 
                <a href="mailto: feedback@thinbluelie.us">feedback@thinbluelie.us</a> and we can attempt to work something out. 
            </p>
        </div>
    </div>
    <div>
        <h3 class="mb-2 text-center">Information Entry Guide</h3>
        <div class="guide-section">
            <h4>Basic Info</h4>
            <div>
                <div>
                    <h6>Date:</h6>
                    <p>
                        Enter in the date that the event happened. In the rare case that it spans multiple days, select the first day.
                    </p>
                    <h6>Location:</h6>
                    <p>
                        Select the State/Territory and the name of the city. For example, if your event took place in the Bronx, simply enter New York.
                    </p>
                    <h6>Title:</h6>
                    <p>
                        Provide a short, descriptive Title for your event.
                    </p>
                </div>
                <h6>Similar Events</h6>
                <p>
                    Upon entering in a date, we present you with the other events we have collected for that date. Please check that you are not entering in a
                    duplicate event before continuing.
                </p>
            </div>
        </div>
        <div class="guide-section">
            <h4>Officer and Subject Info</h4>
            <div>
                <div>
                    <h6>Name:</h6>
                    <p>
                        Names provide an important point for searching and indexing, but we understand that it may be impossible to find a name. Before posting an event,
                        you must at least try to find a name before leaving it blank.
                    </p>
                    <h6>Age:</h6>
                    <p>
                        Enter in the age of the person, this field is not required.
                    </p>
                    <h6>Race and Sex:</h6>
                    <p>
                        Select the person's race or sex if known or able to be reasonably guessed at. If unclear, select "Unclear".
                    </p>
                    <h6>Armed:</h6>
                    <p>
                        If the subject is armed, i.e they are wielding a weapon or have a weapon in their car, check this box.
                    </p>
                    <h6>Misconducts and Weapons:</h6>
                    <p>
                        Select whatever misconducts you believe fit the event. If you select "Unnecessary Use of Force", you will then be able to select
                        the weapons used in the event. Select the closest misconducts and weapons available. If you believe that there is an imporant Misconduct
                        or Weapon missing, please contact us at <a href="mailto: developer@thinbluelie.us">developer@thinbluelie.us</a> and we <em>might</em> add it.
                    </p>
                </div>
                <h6>Similar Person</h6>
                <p>
                    Upon entering identifiable info, we show other people in the database who share similar information.
                    Select them if they are the same person you are entering. You will be able to edit the person in relation to the event, but not the person themselves.
                </p>
            </div>
        </div>
        <div class="guide-section">
            <h4>Media Entry</h4>
            <div>
                <h5>General</h5>
                <div class="guide-subsection">
                    <h6>Gore</h6>
                    <p>
                        If the Video or Image has visible gore, such as blood, guts, or death, select this box.
                    </p>
                    <h6>Blurb</h6>
                    <p>
                        Provide a brief description of the media to describe what it contains, keep it short but information dense like a caption.
                    </p>
                    <h6>Credit</h6>
                    <p>
                        Enter in information to who owns/created the media.
                    </p>
                </div>
                <div>
                    <h5>Images</h5>
                    <div class="guide-subsection">
                        <h6>Direct Link</h6>
                        <p>
                            This is the easiest and most reliable way, simply post a link directly to the image. This is often obtained by right clicking an image
                            and selecting copy image address.
                        </p>
                        <h6>From Device</h6>
                        <p>
                            We allow you to upload images directly from your computer. Do to this, select "Phone or Computer" in the Source's Location dropdown and then,
                            after clicking "Browse" select a file from your system.
                        </p>
                        <h6>Reddit</h6>
                        <p>
                            If sourcing from Reddit post a link that either point directly to the image or a link that looks like
                            <span>https://www.reddit.com/r/SubredditName/comments/lq1yc0/subredditname/</span>
                        </p>
                    </div>
                </div>
                <div>
                    <h5>Videos</h5>
                    <div class="guide-subsection">
                        <p>We currently only support videos from Youtube and Reddit. </p>
                        <h6>Youtube</h6>
                        <p>
                            Enter in a link that goes to the youtube video that looks like <span>https://www.youtube.com/watch?v=123abcXYZ45</span>
                        </p>
                        <h6>Reddit</h6>
                        <p>
                            Enter in a link to the video with a link that looks like <span>https://www.reddit.com/r/SubredditName/comments/lq1yc0/subredditname/</span>
                        </p>
                    </div>
                </div>
                <div>
                    <h5>News Articles</h5>
                    <p class="guide-subsection">
                        Link directly to the news article and we will display an example of how it might be displayed, but this might take up to 30 seconds to retrieve.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <h4>Context</h4>
            <div class="guide-subsection">
                <p>
                    This is the most important part of the article. Use the rich text editor to produce a nicely formatted document that you feel would belong
                    well on a Wikipedia page. Describe in detail what happened leading up the the event, what happened during the event, and, if applicable, any
                    relevant information that happened afterwards. For example, you could discuss how the person had been pulled over for a broken taillight but
                    only started recording as the officer approached the car door. Then you could describe the interaction between the officer and the subject,
                    paying attention to highlight the misconduct(s) in the encounter. Finally, you could describe any news coverage or response by the police
                    department to the interaction.
                </p>
                <p>
                    While some events will have highly detailed Context sections, like George Floyd and other well known incidents, we do expect the majority of
                    cataloged events to have much shorter Contexts. Do try to write as detailed an article as possible though. 
                </p>
            </div>
        </div>
    </div>
</div>

@code {

}
