@page "/About/Submission-Guide"

<Title>Submission-Guide - Thin Blue Lie</Title>
<Meta Property="og:type" Content="article" />
<Meta Property="og:title" Content="Guides - Thin Blue Lie" />
<Meta Name="description" Content="Thin Blue Lie was founded on the principle of providing and collecting all cases of police misconduct. In order to maintain a 
                respectable source of information while not excluding fringe cases, we've implemented the following guidelines for event creation and entry."/>

<div class="container">
    <div>
        <h3>
            What qualifies for submission?
        </h3>
        <div>
            <strong>
                Thin Blue Lie was founded on the principle of providing and collecting <em>all</em> cases of police misconduct. In order to maintain a 
                respectable source while not excluding fringe cases, we count events as valid if they fit the following intentionally vague description:
            </strong>
            <blockquote>
                An event must display an officer using their authority in performing an immoral or illegal act.
            </blockquote>   
            <h6>
                All posts must fit the following requirements:
            </h6>
            <ol>
                <li>
                    <span style="font-size:1rem"><strong>Be Specific</strong></span>
                    <p>
                        We understand that your event may lack details such as an Officer or Subject's name, race, or sex. While you can submit missing that information,
                        we ask that you try to look online or elsewhere for more information before submitting so that the article is as fleshed out as possible.
                        If posting an event from protests such as the 2020 BLM Protests which spanned multiple months, be as specific to the date and event as possible.
                    </p>
                </li>
                <li>
                    <span style="font-size:1rem"><strong>Be Thorough</strong></span>
                    <p>
                        Before hitting submit, try to find as much information as possible about your event. This means looking for articles, finding officer names, etc. 
                        For larger events with many articles, videos, and images, those which would require a long detailed Context, events such as the Death of Eric Garner, 
                        feel free to submit then return to edit at a later date.
                    </p>
                </li>
                <li>
                    <span style="font-size:1rem"><strong>Be Objective</strong></span>
                    <p>
                        Believe us, we know how hard it is to stay impartial when discussing police misconduct/brutality, but
                        all posts must be objective and factual to the fullest extent. Try to imitate a Wikipedia Article
                    </p>
                </li>
                <li>
                    <span style="font-size:1rem"><strong>Stay on Topic</strong></span>
                    <p>
                        All posted material must be relevant to police misconduct. This means no posting a link to your instagram feed full of puppies, 
                        no spamming unrelated political news, etc. Referencing politics in an event must be directly related to the event.
                    </p>
                </li>
                <li>
                    <span style="font-size:1rem">All swears and slurs must be censor*d.</span>
                    <p>
                        To provide an accurate recount of events, we will not be limiting the use of any word which was used in
                        an event. But, because unbleeped slurs can diminish an article's reputability, we have chosen to bleep them.
                        This only applies to text-based instances, we understand if you cannot edit videos or images.
                    </p>
                </li>
            </ol>
            <p>
                In the rare case that you cannot fit the one-media requirement, please email us at 
                <a href="mailto: feedback@thinbluelie.us">feedback@thinbluelie.us</a> and we can attempt to work something out. 
            </p>
        </div>
    </div>
    <div>
        <h3 class="mb-2">Information Entry Guide</h3>
        <div>
            <h4>Basic Info</h4>
            <div>
                <div>
                    <h6>Date:</h6>
                    <p>
                        Enter in the date that the event happened. In the rare case that it spans multiple days, select the first day.
                    </p>
                    <h6>Location:</h6>
                    <p>
                        Select the State/Territory and the name of the city. For right now, although this is subject to change, input just the Name of the City.
                        For example, if your event took place in the Bronx, simply enter New York.
                    </p>
                    <h6>Title:</h6>
                    <p>
                        Provide a short, descriptive Title for your event.
                    </p>
                </div>
                <h6>Similar Events</h6>
                <p>
                    Upon entering in a date, we present you with the other events we have collected for that date. Please check that you are not entering in a
                    duplicate event before continuing.
                </p>
            </div>
        </div>
        <div>
            <h4>Officer and Subject Info</h4>
            <div>
                <h6>Name:</h6>
                <p>
                    
                </p>
            </div>
            <h6>Similar Person</h6>
            <p>
                Upon entering identified info, we show other people in the database who share similar information.
                Select them if they are the same person you are entering.
            </p>
        </div>
        <div>
            <h4>Media Entry</h4>
            <div>

            </div>
        </div>
        <div>
            <h4>Context</h4>
            <p>
                This is the most important part of the article. 
            </p>
        </div>
    </div>
</div>

@code {

}
