@page
@model ThinBlueLie.Pages.NewFolder.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Timelineinfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Timelineinfo.Date" class="control-label"></label>
                <input asp-for="Timelineinfo.Date" class="form-control" />
                <span asp-validation-for="Timelineinfo.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.State" class="control-label"></label>
                <input asp-for="Timelineinfo.State" class="form-control" />
                <span asp-validation-for="Timelineinfo.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.City" class="control-label"></label>
                <input asp-for="Timelineinfo.City" class="form-control" />
                <span asp-validation-for="Timelineinfo.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.SubjectName" class="control-label"></label>
                <input asp-for="Timelineinfo.SubjectName" class="form-control" />
                <span asp-validation-for="Timelineinfo.SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.SubjectSex" class="control-label"></label>
                <input asp-for="Timelineinfo.SubjectSex" class="form-control" />
                <span asp-validation-for="Timelineinfo.SubjectSex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.SubjectRace" class="control-label"></label>
                <input asp-for="Timelineinfo.SubjectRace" class="form-control" />
                <span asp-validation-for="Timelineinfo.SubjectRace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.Armed" class="control-label"></label>
                <input asp-for="Timelineinfo.Armed" class="form-control" />
                <span asp-validation-for="Timelineinfo.Armed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.OfficerName" class="control-label"></label>
                <input asp-for="Timelineinfo.OfficerName" class="form-control" />
                <span asp-validation-for="Timelineinfo.OfficerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.OfficerSex" class="control-label"></label>
                <input asp-for="Timelineinfo.OfficerSex" class="form-control" />
                <span asp-validation-for="Timelineinfo.OfficerSex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.OfficerRace" class="control-label"></label>
                <input asp-for="Timelineinfo.OfficerRace" class="form-control" />
                <span asp-validation-for="Timelineinfo.OfficerRace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.Misconduct" class="control-label"></label>
                <input asp-for="Timelineinfo.Misconduct" class="form-control" />
                <span asp-validation-for="Timelineinfo.Misconduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.Weapon" class="control-label"></label>
                <input asp-for="Timelineinfo.Weapon" class="form-control" />
                <span asp-validation-for="Timelineinfo.Weapon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.Context" class="control-label"></label>
                <input asp-for="Timelineinfo.Context" class="form-control" />
                <span asp-validation-for="Timelineinfo.Context" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.Gore" class="control-label"></label>
                <input asp-for="Timelineinfo.Gore" class="form-control" />
                <span asp-validation-for="Timelineinfo.Gore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timelineinfo.VidLink" class="control-label"></label>
                <input asp-for="Timelineinfo.VidLink" class="form-control" />
                <span asp-validation-for="Timelineinfo.VidLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
