/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Mobile or desktop specific stuff */

content-mobile{ display:none;}
content-desktop {display: none;}

@media screen 


.timeline-label {
    position: absolute !important;
    top: -25px !important;
}


.nogap {
    margin: 0px;
    padding: 0px;
}
@media (min-width: 25em) {

    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative;    
    }
}

hr.blueline  {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #314DB2; /* old IE */
    background-color: #314DB2; /* Modern Browsers */
}


/*Index page */
.body {
    padding:70px;
    margin:0px;
}

.home.jumbotron {
    background-size: cover !important;
    border-radius: 0px !important;
    padding-top: 11rem !important;
    padding-bottom: 2rem !important;
    margin-top: 0px !important;
}

@media (max-width: 480px) {
    .home.jumbotron {
        padding-bottom: 70px;
    }
}

/*card columns */
@media (min-width: 20em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
/*Navbar */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background-size: contain;
}
.navbar-brand span {
	vertical-align: middle;
	padding: 0 0 0 15px;
}

/* changing color and underline on hover */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    text-decoration: underline !important;
}

/* depressing navbar link based on what page user is on */
.onpage {
    text-decoration: none;
    background-color: #2B3035;
    border-radius: 3px;
}
/* Fuck 12 */
.fuck12.jumbotron {
    background-color: transparent !important;
    color: white;

}
/* Timeline Layout */
.week {
    background-color: #dedede;    
    border: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0px;
    padding-top: 1px;
    height: 30px;
    
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

.btn:focus {
    box-shadow: none;
}

#imposedline {
    border-top: 1px solid black;
    color: #dee2e6;
    position: absolute;
    z-index: 10;
    top: 38px;
    left: 10%;
}
.btn.active {
    background-color: #b5b5b5;

}

/* Card settings */
li p {
    color: #2B3035;
}
/* Scrollbar gone but functionality remaining */
.noscrollbar::-webkit-scrollbar {
    display: none !important;
}
.noscrollbar {
    -ms-overflow-style: none !important;
}


/* setting text and header formats/colors */
h1 {
    color: #1b6ec2;
}
h2 {
    color: #000000;
}
p {
    color: #000000;
    font-size: .8rem
}

/* Provide sufficient contrast against white background */
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  margin-top: 60px;
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
