@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --low: #007bff;
    --low-medium: #00F6FF;
    --medium: #ffc107;
    --high-medium: #fd7e14;
    --high: #dc3545;
    --extreme: #DB3691;
}

html, body {
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.row.fix {
    margin: auto !important;
}

.nogap {
    margin: 0px;
    padding: 0px;
}

.context.indent p {
    text-indent: 1.5rem;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.imaginary-line, .imaginary-item {
    background-color: #e8e8e8;
}

del, .deleted-li, .deleted-item {
    text-decoration: line-through;
    background-color: #fbb;
    /* color: #555;*/
}

ins, .inserted-li, .inserted-item {
    text-decoration: none;
    background-color: #d4fcbc;
}

.information span {
    display: block;
}

@media (min-width: 25em) {

    /* html, body {
        overflow-x: hidden;
    }*/

    body {
        position: relative;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

hr.blueline {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #314DB2; /* old IE */
    background-color: #314DB2; /* Modern Browsers */
}
/* nav menu with blue bar */

.nav-with-bar .nav-link:hover {
    text-decoration: underline;
}

.nav-with-bar .nav-link.active {
    border-right: 3px solid blue;
}

.nav-with-bar a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
}

.nav-with-bar ul {
    list-style-type: none;
    padding-left: 10px;
}

.nav-with-bar a:hover {
    color: #064579;
}

@media (max-width: 768px) {
    .about-content {
        text-align: center;
        width: 100% !important;
    }

        .about-content a {
            padding: 0px 0px !important;
        }
}
/*Index page */
.body {
    padding: 70px;
    margin: 0px;
}

.header-image {
    background-size: cover !important;
    background-color: #919191;
    width: 100%;
    background-position: 50% 38%;
    border-radius: 0px !important;
    padding-top: 7rem !important;
    padding-bottom: 6rem !important;
    margin-bottom: 0px;
    margin-top: 0px !important;
}

    .header-image.landing-image {
        display: flex;
    }

@media (max-width: 480px) {
    .header-image {
        padding-bottom: 70px;
    }
}

@media (max-width: 8000px) {
    .resource-list .card-columns {
        column-count: 4;
    }
}

@media (max-width: 992px) {
    .card-columns.solutions {
        column-count: 2;
    }
    .resource-list .card-columns {
        column-count: 3;
    }
}

@media (max-width: 768px) {
    .card-columns.solutions {
        column-count: 1;
    }
    .resource-list .card-columns {
        column-count: 2;
    }
}

@media (max-width: 576px) {
    .resource-list .card-columns {
        column-count: 1;
    }
}

.line .bluestrikethrough {
    z-index: 5;
    top: 1.5em;
    width: 100%;
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #007bff; /* old IE */
    background-color: #007bff; /* Modern Browsers */
}

.header-image .line {
    position: relative;
    width: 100%;
}

/*Navbar */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background-size: contain;
}

.navbar-brand span {
    vertical-align: middle;
    padding: 0 0 0 15px;
}

/* changing color and underline on hover */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    text-decoration: underline !important;
}


.nav-item .btn-dark.dropdown-toggle:hover, .nav-item .btn-dark.dropdown-toggle:focus,
.nav-item .btn-dark.dropdown-toggle, .nav-item .btn.nav-link:active,
.nav-item .btn.nav-link:focus, .nav-item .btn.nav-link {
    box-shadow: none !important;
    border: none !important;
    transition: none !important;
    -webkit-transition: none !important;
}

    .nav-item .btn-dark.dropdown-toggle:hover, .nav-item .btn-dark.dropdown-toggle:active,
    .nav-item .btn-dark.dropdown-toggle {
        background-color: inherit;
    }

.nav-item .nav-link.onpage + .btn.dropdown-toggle {
    text-decoration: none !important;
    background-color: #2B3035 !important;
    border-radius: 3px !important;
}

/* depressing navbar link based on what page user is on */
.onpage {
    text-decoration: none;
    background-color: #2B3035 !important;
    border-radius: 3px;
}



/* Fuck 12 */
.fuck12.jumbotron {
    background-color: transparent !important;
    color: white;
}
/* Timeline Layout */
.week {
    background-color: #dedede;
    border: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0px;
    padding-top: 1px;
    height: 31px;
    cursor: pointer !important;
    padding-left: 4px;
    padding-right: 4px;
}

#imposedline {
    border-top: 1px solid black;
    color: #dee2e6;
    position: absolute;
    z-index: 10;
    top: 38px;
    left: 10%;
}

.week.active.severity-no-event {
    background-color: #919191;
}

.event {
    color: black;
    padding: 3px 5px 0px 0px;
    margin: 3px 0px;
}

.severity-low {
    background-color: var(--low);
    outline-color: var(--low) !important;
    color: white !important;
}

.severity-low-medium {
    background-color: var(--low-medium);
    outline-color: var(--low-medium) !important;
    color: black !important;
}

.severity-medium {
    background-color: var(--medium);
    outline-color: var(--medium) !important;
    color: black !important;
}

.severity-high-medium {
    background-color: var(--high-medium);
    outline-color: var(--high-medium) !important;
    color: black !important;
}

.severity-high {
    background-color: var(--high);
    outline-color: var(--high) !important;
    color: white !important;
}

.severity-extreme {
    background-color: var(--extreme);
    outline-color: var(--extreme) !important;
    color: white !important;
}

.severity-no-event {
    background-color: #DEDEDE;
    outline-color: #919191 !important;
}

.btn.week.active {
    box-shadow: none;
    outline-width: 3px;
    outline-style: solid;
    outline-offset: unset;
}

.timeline-label {
    position: absolute !important;
    /*top: -25px !important;*/
    text-align: center;
    padding: 0px;
    margin: 0px;
    left: 0px;
    width: 100%;
    white-space: nowrap;
}

.btn {
    cursor: pointer;
}

#triangle-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid black;
    border-bottom: 16px solid transparent;
    margin-right: 0.4rem;
    position: relative;
    cursor: pointer;
}

    #triangle-left .empty {
        left: 10px;
        width: 0;
        height: 0;
        border-top: 11px solid transparent;
        border-right: 20px solid white;
        border-bottom: 11px solid transparent;
        left: 7px;
        position: absolute;
        top: -11px;
        content: '';
    }

#triangle-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid black;
    border-bottom: 16px solid transparent;
    margin-left: 0.4rem;
    cursor: pointer;
    position: relative;
}

    #triangle-right .empty {
        width: 0;
        height: 0;
        border-top: 11px solid transparent;
        border-left: 20px solid white;
        border-bottom: 11px solid transparent;
        position: absolute;
        left: -27px;
        top: -11px;
        content: '';
    }


.embed-responsive-2by1::before {
    padding-top: 50%;
}

@media (max-width: 30em) {
    #format-select {
        display: none;
    }
}

.context {
    font-size: 1.2rem;
}

.brokencard {
    border: none;
}

card.header {
    font-size: 1rem;
}

/*Side nav bars */

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/* Profile Settings*/
ul.sidebar-profile {
    list-style-type: none !important;
}

li.profile-sidebar-link a {
    color: dimgray;
    font-size: 1rem;
}

    li.profile-sidebar-link a:hover {
        color: black;
    }

/*
 * Sidebar
*/

.sidebar {
    position: sticky;
    top: 48px;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    min-width: 200px;
}

.sidebar-sticky {
    position: relative;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #007bff;
    padding-bottom: 3px;
}

    .sidebar .nav-link:hover {
        text-decoration: underline;
    }

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        border-right: 3px solid blue;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: .6rem;
    margin-bottom: .3rem;
}

a.nav-link svg {
    margin: 0px 5px 0px 0px;
}

/* Content */

[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
}

.resource {
}

/* Navbar */

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }



/* Card settings */
li p {
    color: black;
}
/* Scrollbar gone but functionality remaining */
.noscrollbar::-webkit-scrollbar {
    display: none !important;
}

.noscrollbar {
    -ms-overflow-style: none !important;
}


/*Submit Settings*/
h4 svg {
    width: 24px !important;
    height: 24px !important;
}

.e-btn-sb-icons {
    font-family: 'button-icons';
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.e-add-icon::before {
    content: '\e70a';
}

.e-richtexteditor .e-rte-content .e-content {
    min-height: 150px;
}

.e-file-select-wrap {
    padding: 0.2rem;
}

.e-close-icon:before {
    content: '\e745';
}

.e-double-arrow-up-icon:before {
    content: '\e7c5';
}

.e-chevron-up-icon:before {
    content: '\e734';
}

.e-chevron-down-icon:before {
    content: '\e705';
}

.e-primary.e-custom {
    color: #221e1e !important;
    background-color: #F8F9FA !important;
    border-color: #F8F9FA !important;
    padding-right: 5px;
    padding-left: 0px;
}

    .e-primary.e-custom:hover {
        color: #314DB2 !important;
    }

    .e-primary.e-custom:focus, .e-primary.e-cuton:active {
        box-shadow: none !important;
    }

.e-acrdn-header-content {
    width: 100% !important;
    position: relative;
}

.e-acrdn-content .e-acrdn-content {
    padding-left: 0.6rem !important;
}

.e-acrdn-header:hover .e-icons, .e-acrdn-header, .e-acrdn-header-content {
    text-decoration: none !important;
    color: inherit !important;
}

.e-accordion .e-acrdn-item .e-acrdn-panel .e-acrdn-content {
    padding: 0px !important;
}

form {
    width: inherit;
}


/* Provide sufficient contrast against white background */
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 16px;
}

/*@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}*/

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}


body {
    /* Margin bottom by footer height */
    /* margin-bottom: 60px;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
/* For Debugging */

/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/

/*Donate Page*/
.charity, .resource {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6
}
    .charity u, .resource u {
        margin: 0px;
    }
.resource-list .card-img-top {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.charity-content, .resource-content {
    padding: 5px;
    padding-left: 5px;
    padding-right: 250px;
}

    .charity-content > *, .resource-content > * {
        margin-left: 10px;
    }

.resource svg {
    margin-right: 7px;
}

.charity-thumbnail, .resource-thumbnail {
    max-height: 150px;
    max-width: 150px;
}

.charity-button, .resource-button {
    margin-left: 10px;
}

app {
    position: relative;
    /*display: flex;*/
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 67px !important
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row; /* causing issues with carousel*/
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    /*.main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }*/

    /*.navbar-toggler {
        display: none;
    }*/

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.gallery-top {
    background-color: lightgrey
}

.reddit-video-wrapper videowrapper {
    height: 275px !important;
}
