@page
@model ConfirmEmailModel
@{
    Layout = null;
    ViewData["Title"] = "Confirm email";
}
<style>
    h6 a {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/google.css" />
    <title>Confirm Email</title>
</head>
<div class="container" style="margin-top: 125px;">
    <div class="mx-auto col-md-6">
        <div class="text-center">
            <a href="/">
                <img class="mb-4" src="/Assets/ThinBlueLie-Logo.png" alt="Thin Blue Lie Logo" width="125" height="125">
            </a>
            <h1 class="h5 mb-3 font-weight-normal">@Model.StatusMessage</h1>           
            <h6>
                <a href="/Account/Login">Log in</a>
            </h6>
            <p class="mt-5 mb-3 text-muted">Thin Blue Lie ©2020</p>
        </div>
    </div>
</div>
