@page "/Account/Register"
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<style>
    body {
        background-color: #F5F5F5 !important;
    }

    input {
        background-color: #ffffff
    }

        input.form-control {
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 16px 18px;
            background-position: 98% 50%;
            cursor: auto;
        }
</style>
<title>Register</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/google.css" />
<div class="container">
    <div class="mx-auto col-md-6 mt-5">
        <form id="account" method="post" autocomplete="off">
            <div class="mx-auto text-center">
                <a href="/">
                    <img class="mb-4" src="/Assets/ThinBlueLie-Logo.png" alt="Thin Blue Lie Logo" width="125" height="125">
                </a>
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input placeholder="Email address" asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input placeholder="Username" asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </div>
            <div class="text-center">
                <div class="form-group text-center">
                    <p>
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log in with existing account</a>
                    </p>
                </div>
                <p class="mt-5 mb-3 text-muted">Thin Blue Lie ©2020</p>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-center">
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        if (provider.DisplayName == "Google")
                        {
                            <div class="g-signin2" data-onsuccess="onSuccess" data-gapiscan="true" data-onload="true">
                                <div style="height:36px;width:120px;" class="abcRioButton abcRioButtonLightBlue">
                                    <button class="abcRioButtonContentWrapper" style="border:inherit;" type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <div class="abcRioButtonIcon" style="padding:8px">
                                            <div style="width:18px;height:18px;" class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg">
                                                    <g>
                                                        <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                                                        <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                                                        <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                                                        <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                                                        <path fill="none" d="M0 0h48v48H0z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div><span style="font-size:13px;line-height:34px;" class="abcRioButtonContents"><span id="not_signed_ina94hqvmpacgz">Sign in</span><span id="connecteda94hqvmpacgz" style="display:none">Signed in</span></span>
                                    </button>
                                </div>
                            </div>
                        }
                        else
                        {

                        }
                    }
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
