@page
@model RegisterConfirmationModel
@{
    Layout = "/Pages/Shared/_EmptyLayout.cshtml";
    ViewData["Title"] = "Register confirmation";
}

<div class="container" style="margin-top: 125px;">
    <div class="mx-auto col-md-6">
        <div class="text-center">
            <a href="/">
                <img class="mb-4" src="/Assets/ThinBlueLie-Logo.png" alt="Thin Blue Lie Logo" width="125" height="125">
            </a>
            <h1 class="h5 mb-3 font-weight-normal">
                Please check your email to confirm your account.
            </h1>
            <p>
                You can close this page.
            </p>
            <p class="mt-5 mb-3 text-muted">Thin Blue Lie ©2020</p>
        </div>
    </div>
</div>
