<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="394077889019-i50ldubor11lftmjksjn5ul9ub659sp5.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>@ViewData["Title"] - Thin Blue Lie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/ColorPallete.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

</head>
<body class="noscrollbar">
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark mb-3">
            <div class="d-flex flex-grow-1 container-fluid">
                <a class="navbar-brand text-white" href="/Index">
                    <img id="logo" alt="" src="/ThinBlueLieLogo.png" width="35" height="35" class="d-inline-block">
                    <span style = "white-space: nowrap;" class="d-inline-block" >Thin Blue Lie</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse text-right d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" id="Timeline">
                            <a class="nav-link text-white" asp-page="/Timeline">Timeline</a>                       
                        <li class="nav-item" id="Solutions">
                            <a class="nav-link text-white" asp-page="/Solutions">Solutions</a>
                        <li class="nav-item" id="History">
                            <a class="nav-link text-white" asp-page="/History">History</a>
                        <li class="nav-item" id="Statistics">
                            <a class="nav-link text-white" asp-page="/Statistics">Statistics</a>
                    </ul>
                </div>
                <div class="navbar-collapse collapse text-right d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Feedback
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Incorrect information?</a>
                                <a class="dropdown-item" href="#">General Feedback</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Contact</a>
                            </div>
                        </li>
                        <li class="nav-item" id="Submit">
                            <a class="btn btn-outline-success mr-2" asp-page="/Submit">Submit Info</a>
                        </li>
                        <li class="nav-item" id="Donate">
                            <a class="btn btn-outline-primary" asp-page="/Donate">Donate</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-page="/Login">Login</a>
                                <a class="dropdown-item" onclick="signOut();" asp-page="">Log Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="nogap container-fluid">
        <main>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
