@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <form method="post">
            <a class="nav-link dropdown-toggle text-white" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-page="/Account/Manage">Manage</a>
                <a class="dropdown-item" asp-action="logout" asp-controller="account">Log Out</a>
            </div>
        </form>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <form method="post">
            <a class="nav-link dropdown-toggle text-white" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-action="login" asp-controller="account">Login</a>
                <a class="dropdown-item" asp-action="register" asp-controller="account">Register</a>
            </div>
        </form>
    </li>
}

