@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <form method="post">
            <a class="nav-link dropdown-toggle text-white" href="/Account/Profile" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Account/Manage">Manage</a>
                <button type="submit" action="/Account/LogOut" class="nav-link btn btn-link">Log out</button>
            </div>
        </form>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <form method="post">
            <a class="nav-link dropdown-toggle text-white" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/Account/Login">Login</a>
                <a class="dropdown-item" href="/Account/Register">Register</a>
            </div>
        </form>
    </li>
}

