@{
    Layout = null;
}


<div>
   <p class="mb-2">To track your contributions and remove rate limiting, please: </p>
    <div class="row">
        <a class="btn btn-success col-4 mx-2 ml-5" href="Account/Login">Login</a>
        <a class="btn btn-info col-4 mx-2" href="Account/Register">Register</a>
    </div>
</div>