@inherits LayoutComponentBase
@layout MainLayout

<Meta Property="og:type" Content="article" />

<div class="container mt-3">
    @Body
    <h6>
        We are still working on the essays, and will update this page once it's essay is ready
    </h6>
</div>
