@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="text-center">
    <h1>@Model.StatusMessage</h1>
    <h6>This part of the website is still under construction, move back to the 
        <a href="/Index">main website</a>
    </h6>
</div>