@page "/About/Roadmap"

<Title>Roadmap - Thin Blue Lie</Title>
<Meta Property="og:type" Content="article" />
<Meta Property="og:title" Content="Roadmap of Thin Blue Lie" />
<Meta Name="description" Content="Thin Blue Lie is constantly evolving, and we have countless updates to our system
      in the pipeline at any moment. In this Roadmap, we attempt to outline the important ones:" />
<div class="container mt-5">
    <h4 class="text-center">Roadmap</h4>
    <h5>
        Upcoming Features:
    </h5>
    <ul>
        <li>
            <b>Search Functionality:</b> You will be able to search for by Officer Names, Subject Names, and Location.
        </li>
        <li>
            <b>Officer Profile:</b> Officers will have a profile where you can see how many misconducts they have,
            what agency they belong to, and more.
        </li>
        <li>
            <b>Statistics Page:</b> A page listing statistics about the data collected, such as per race breakdown of
            cases, age representation, etc.
        </li>
    </ul>
</div>

@code {

}
